<!-- 
Copyright 2017 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
<template>
  <div id="agent-modal">
    <el-dialog
      @open="openModal"
      :title="( creation ? 'Create agent' : `Update agent / ${agent.display_name}`)"
      :before-close="closeModal"
      :visible.sync="visible"
      :creation.sync="creation"
      custom-class="panto-dialog"
      top="7vh"
      width="50%"
    >
      <div v-if="creation && $helpers.isEmpty(agent)">
        <div class="row">
          <div class="col-md-12">
            <el-input size="small" v-model="agent_display_name" placeholder="agent.pantomath.io"></el-input>
            <div
              class="helper-text"
              id="agent-creation-helper-text"
            >Agent address, e.g. a fully-qualified domain name (FQDN)</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <el-checkbox
              v-model="shouldConfigureAgent"
              @change="configureAgentChanged"
            >Create Target and setup default Probe configuration for new Agent</el-checkbox>
          </div>
        </div>
      </div>
      <span slot="footer" class="dialog-footer" v-if="creation && $helpers.isEmpty(agent)">
        <el-button type="default" @click="closeModal()">Cancel</el-button>
        <el-button type="primary" @click="createAgent()">Next</el-button>
      </span>
      <div v-if="!$helpers.isEmpty(agent)">
        <div class="row">
          <div class="col-sm-2" style="padding: 10px;">Address</div>
          <div class="col-sm-10">
            <el-input label="Address" v-model="agent_display_name"></el-input>
          </div>
        </div>
        <div class="row" v-if="!wasLoadingAtOpenModal">
          <div class="col-sm-2" style="padding: 10px;">Name</div>
          <div class="col-sm-10">
            <panto-pre>{{ agent.name }}</panto-pre>
          </div>
        </div>
        <div class="row" v-if="!wasLoadingAtOpenModal">
          <div class="col-sm-2" style="padding: 10px;">Last activity</div>
          <div class="col-sm-10" style="padding: 10px;">{{ $helpers.formatDate(agent.last_activity, 'LLLL') }}</div>
        </div>
        <div class="row" v-if="!wasLoadingAtOpenModal">
          <div class="col-sm-2" style="padding: 10px;">Version</div>
          <div class="col-sm-10" style="padding: 10px;">
            <code>{{ agent.last_version }}</code>
            <div
              class="helper-text"
              v-if="!!info.version && !!agent.last_version && semver.gt(info.version, agent.last_version)"
            >Agent is out of date. Please update as soon as possible.</div>
          </div>
        </div>
        <div class="row" v-if="wasLoadingAtOpenModal">
          <div class="col-sm-12">
            <h2 class="bl-title">1 / Install agent</h2>
            <p v-if="info.version">
              Download the agent from the
              <a :href="`//packages.panto.app/bin/${info.version}`">downloads page</a>.
            </p>
            <p v-else>
              Download the agent from the
              <a href="//packages.panto.app">downloads page</a>. Make sure to choose a
              version compatible with your Panto server.
            </p>
          </div>
        </div>
        <div class="row" v-if="wasLoadingAtOpenModal">
          <div class="col-sm-12">
            <h2 class="bl-title">2 / Run the agent</h2>
            <p>Run the agent, providing it with the agent name and server address:</p>
            <panto-pre>panto-agent --name={{agent.name}} {{ info.with_tls ? '' : '--no-tls' }} {{info.grpc_address}}</panto-pre>
          </div>
        </div>
        <div class="row" v-if="wasLoadingAtOpenModal">
          <div class="col-sm-12">
            <h2 class="bl-title">3 / Waiting for agent...</h2>
            <div class="agent-loading" v-loading="loading">
              <div class="blockquote text-center" v-show="!loading">
                <h3>Agent is live!</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span slot="footer" class="dialog-footer" v-if="!$helpers.isEmpty(agent)">
        <el-button type="danger" @click="deleteAgent()">Delete</el-button>
        <el-button type="primary" v-loading="shouldClose" @click="saveAndCloseModal()">Save & Close</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import semver from 'semver'

export default {
  props: {
    visible: {
      type: Boolean,
      default: true
    },
    creation: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    ...mapGetters({
      agent: 'agent',
      target: 'target',
      probes: 'probes',
      info: 'info',
      current_organization_name: 'current_organization_name'
    }),
    loading: function () {
      return !(this.agent && this.agent.last_activity)
    }
  },
  data () {
    let shouldConfigureAgent = true
    const s = localStorage.getItem('shouldConfigureAgent')
    if (s !== null) {
      shouldConfigureAgent = (s === 'true')
    }
    return {
      semver,
      value: '',
      agent_display_name: '',
      shouldClose: false,
      wasLoadingAtOpenModal: false,
      shouldConfigureAgent
    }
  },
  beforeCreate () {
    this.storeSubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'DELETE_AGENT') {
        this.closeModal()
      }
      if (mutation.type === 'RECEIVE_CREATED_AGENT') {
        this.setAgentCallback(state.agent.agent.name)
      }
      if (mutation.type === 'RECEIVE_AGENT') {
        if (this.shouldClose) {
          this.closeModal()
        }
      }
    })
  },
  beforeDestroy () {
    this.storeSubscribe()
  },
  created () {
  },
  methods: {
    openModal () {
      this.wasLoadingAtOpenModal = this.loading
      this.shouldClose = false
      if (!this.$helpers.isEmpty(this.agent)) {
        this.setAgentCallback(this.agent.name)
        if (!this.creation) {
          this.agent_display_name = this.agent.display_name
        }
      }
    },
    closeModal () {
      this.$emit('update:agentModalVisible', false)
      this.agent_display_name = ''
      if (this.agentCallback) {
        clearInterval(this.agentCallback)
      }
      return false
    },
    saveAndCloseModal () {
      this.shouldClose = true
      this.updateAgent()
    },
    deleteAgent () {
      this.$store.dispatch('deleteAgent', {
        agent: this.agent.name
      })
    },
    async createAgent () {
      if (this.agent_display_name) {
        try {
          const agent = await this.$store.dispatch('createAgent', {
            organization_name: this.current_organization_name,
            display_name: this.agent_display_name
          })

          if (!this.shouldConfigureAgent) {
            return
          }

          const target = await this.$store.dispatch('createTarget', {
            organization_name: this.current_organization_name,
            address: agent.display_name
          })
          let probes = this.probes
          if (!probes || probes.length === 0) {
            probes = await this.$store.dispatch('listProbes')
          }
          const probeLabelList = ['cpu', 'load', 'memory', 'disk-usage', 'disk-io', 'network', 'uptime']
          for (const l of probeLabelList) {
            const probe = probes.find(p => p.probe_name === l)
            if (!probe) {
              console.warn(`Probe ${l} not found`)
              continue
            }
            // Special case for CPU config
            let config = {}
            if (l === 'cpu') {
              config['per-cpu'] = true
            }
            this.$store.dispatch('createCheck', {
              organization: this.current_organization_name,
              target: target.name,
              probe: probe.name,
              type: 'none',
              configuration: {}
            }).then(check => {
              return this.$store.dispatch('createProbeConfiguration', {
                organization: this.current_organization_name,
                configuration: config,
                check: check,
                agent: agent,
                probe: probe,
                schedule: '1m'
              })
            })
          }
        } catch (err) {
          console.error(err)
        }
      }
    },
    updateAgent () {
      if (this.agent) {
        this.$store.dispatch('updateAgent', {
          name: this.agent.name,
          display_name: this.agent_display_name
        })
      }
    },
    setAgentCallback (agent) {
      if (this.agentCallback) {
        clearInterval(this.agentCallback)
      }
      if (this.visible) {
        this.agentCallback = setInterval(() => {
          if (this.loading) {
            this.$store.dispatch('getAgent', {
              agent_name: agent
            })
          } else {
            clearInterval(this.agentCallback)
          }
        }, 3000)
      }
    },
    configureAgentChanged (shouldConfigureAgent) {
      this.shouldConfigureAgent = shouldConfigureAgent
      localStorage.setItem('shouldConfigureAgent', `${shouldConfigureAgent}`)
    }
  }
}
</script>
<style scoped>
.panto-dialog .el-dialog__body {
  padding: 0;
}
.panto-dialog .row {
  padding: 15px 20px;
}
.panto-dialog h2 {
  margin: 0 0 10px 0;
}
.agent-loading {
  min-height: 8vh;
}
.helper-text {
  font-size: 10px;
  color: #777777;
}
#agent-creation-helper-text {
  margin: 0.5rem 17px;
}
</style>
