<!--
Copyright 2017 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
<template>
  <div class="middle-i">
    <div class="content">
      <form class="form-type">
        <div class="tet">
          <router-link 
            v-if="!$helpers.isEmpty(agent)" 
            class="btn btn-theme fl-l"
            :to="'/environment/' + agent.name">
            <i class="ico-left-big"></i>
          </router-link>
          <span class="environment-title">{{ probe.display_name }}</span>
          <span v-if="!$helpers.isEmpty(probeConfiguration)">
            <a 
              @click="updateProbeConfiguration()"
              :class="`btn btn-theme fl-r ${unsaved ? '' : 'disabled'} ${saving ? 'disabled saving' : ''}`">
              <span>Save</span>
            </a>
            <a @click="dialogDeleteProbeConfigurationVisible = true" href="#" class="btn btn-theme fl-r">
              Delete
            </a>
            <!-- <a href="#" class="btn btn-theme fl-r">Duplicate</a> -->
            <a href="#" class="btn btn-primary fl-r">Dashboard</a>
          </span>
          <a href="https://about.panto.app/probes.html" target="_blank" class="btn btn-primary fl-r" rel="noopener noreferrer">
            Help
          </a>
        </div>
        <div class="bl">
          <header class="bl-header">
            <h2 class="bl-title">
              Configuration
            </h2>
          </header>
          <!-- .bl-header -->

          <div class="bl-i" id="probe-configuration-form">

            <div class="row">

              <div class="col-md-6">

                <dl>
                  <dt>
                    <label for="frequency" class="control-label">
                      Frequency (between checks)
                      <el-tooltip class="item" effect="dark" content="The frequency between two checks" placement="top-start">
                        <fa class="text-muted" :icon="faInfoCircle" />
                      </el-tooltip>
                    </label>
                  </dt>
                  <dd>
                    <el-select v-model="frequencyValue" placeholder="Select frequency">
                      <el-option tabindex="0" v-for="frequency in frequencies" :key="frequency.value" :label="frequency.label" :value="frequency.value">
                      </el-option>
                    </el-select>
                  </dd>
                </dl>

                <dl>
                  <dt>
                    <label for="target" class="control-label">
                      Target
                      <span class="text-muted">(mandatory)</span>
                      <el-tooltip class="item" effect="dark" content="A IP address or hostname" placement="top-start">
                        <fa class="text-muted" :icon="faInfoCircle" />
                      </el-tooltip>
                    </label>
                  </dt>
                  <dd>
                    <el-select v-model="targetValue" tabindex="-1" filterable @focus="createTargetIfNeeded()" @change="refreshTarget()" placeholder="Select target">
                      <el-option v-for="target in targets" :key="target.name" no-data-text="No target available" no-match-text="No match" :label="target.address" :value="target.name">
                      </el-option>
                    </el-select>
                    <p class="text-danger m-t-5" v-if="formError['target']">
                      <fa :icon="faExclamationTriangle" /> {{ formError['target'] }}
                    </p>
                    <div class="row m-t-10">
                      <div class="col-sm-8">
                        <div v-if="targetValue && !$helpers.isEmpty(target)">
                          <target-tag :target="target"></target-tag>
                        </div>
                      </div>
                      <div class="col-sm-4 text-right">
                        <a @click="createTargetModal()" class="pointer btn btn-theme btn-xs">
                          Create a target
                        </a>
                      </div>
                    </div>
                  </dd>
                </dl>

              </div>
              <!-- .col -->

              <div class="col-md-6">
                <configuration-form :probe="probe" :messages="formError" v-model="configuration"></configuration-form>
              </div>
              <!-- .col -->

            </div>
            <!-- .row -->

            <div class="al-r">
              <a v-if="$helpers.isEmpty(probeConfiguration)" 
                @click="createCheckAndProbeConfiguration()"
                :class="`btn btn-sm ${validateConfiguration(false) ? 'btn-theme' : 'btn-default'}`">
                Next
              </a>
            </div>
            <!-- .al-r -->
            <!-- <pre>{{ probe }}</pre> -->
          </div>
          <!-- .bl-i -->

        </div>

      </form>
      <div class="bl p-20" v-if="!$helpers.isEmpty(probeConfiguration)">
        <div class="row">
          <div class="col-md-6">
            <h2 class="bl-title">
              States
            </h2>
          </div>
          <div class="col-md-6 al-r">
            <dl class="dl-inline">
              <dt class="require"></dt>
              <dd>
                <span v-for="state_definition,state_definition_key in state_definitions">
                  <el-tooltip
                    :content="state_definition.tooltip"
                    placement="top-start"
                    :enterable="false">
                    <span>
                      <input 
                        v-model="stateDefinitionValue" 
                        :id="`state-definition-${state_definition_key}`" 
                        :value="state_definition.value" 
                        name="state-definition" 
                        class="form-skin"
                        type="radio" />
                      <label class="radio-inline" :for="`state-definition-${state_definition_key}`">
                        {{ state_definition.label }}
                      </label>
                    </span>
                  </el-tooltip>
                </span>
              </dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 pull-right" v-if="stateDefinitionValue === 'history' || stateDefinitionValue === 'trend'">
            <dl>
              <dd>
                <h4>Interval</h4>
                <el-input v-model="interval" placeholder="e.g. 60s, 3600s"></el-input>
              </dd>
            </dl>
          </div>
        </div>
        <div v-show="stateDefinitionValue !== 'none'">
          <div class="bl" v-for="stateTypeProperties,stateType in statesComponentProperties">

            <header class="bl-header">
              <h2 class="bl-title">
                <i :class="`ico-attention ${stateType}`"></i>
                {{ stateTypeProperties.label }}
              </h2>
            </header>
            <!-- .bl-header -->

            <div class="bl-i nodt" v-for="state,state_key in states">
              <div v-if="state.state.toLowerCase() === stateType.toLowerCase()">
                <div v-show="state.conditions && state.conditions.length > 0">

                  <div class="row">
                      <div class="col-md-5">
                        <dl>
                          <dd>
                            <h3>Metrics</h3>
                          </dd>
                        </dl>
                      </div>
                  </div>
                  <!-- .row -->

                  <div class="row">
                    <div class="col-sm-4">
                      <dl class="dl-inline">
                        <dt class="require">&nbsp;</dt>
                        <dd>
                          <span v-for="match,match_key in matches">
                            <input :id="`match-${state_key}-${match_key}`" :name="`match-${state_key}`" :value="match.value" v-model="state.match" class="form-skin" type="radio">
                            <label class="radio-inline" :for="`match-${state_key}-${match_key}`">
                              {{ match.label }}
                            </label>
                          </span>
                        </dd>
                      </dl>
                    </div>
                    <!-- .col -->
                    <div class="al-r">
                      <div v-if="!statesComponentProperties[stateType].disabled">
                        <a
                          @click.prevent="cancelEdit(state_key, stateType)"
                          class="btn btn-sm">
                          Cancel
                        </a>
                        <a @click.prevent="updateCheck(state_key, stateType)" class="btn btn-sm btn-theme">
                          Save
                        </a>
                      </div>
                      <a href 
                        @click.prevent="beginEdit(state_key, stateType)"
                        class="bl-action-item"
                        data-toggle="tooltip"
                        data-original-title="Edit state conditions"
                        v-else>
                        <i class="ico-pencil"></i>
                      </a>
                    </div>
                  </div>
                  <!-- .row -->

                  <article :class="`state-item state-item-${state.state}`" v-for="condition,condition_key in state.conditions">
                    <div class="row">
                      <div class="col-md-5">
                        <dl>
                          <dt>
                            <label for="`field-${state_key}-${condition_key}`" class="control-label">
                              Metrics
                            </label>
                          </dt>
                          <dd>
                            <el-select :id="`field-${state_key}-${condition_key}`" 
                            :disabled="statesComponentProperties[state.state].disabled" 
                            v-model="condition.field"
                            placeholder="Field"
                            filterable>
                              <el-option v-for="m in probe.metrics"
                                :key="m.name"
                                :value="m.name"
                                :label="m.name">
                                {{ m.name }}
                                <el-tooltip class="item" effect="dark" :content="m.description" placement="top-start">
                                  <fa class="text-muted" :icon="faInfoCircle" />
                                </el-tooltip>
                              </el-option>
                            </el-select>
                          </dd>
                        </dl>
                      </div>
                      <!-- .col -->
                      <div class="col-md-2">
                        <dl>
                          <dt>
                            <label for="sel1b" class="control-label">Operator</label>
                          </dt>
                          <dd>
                            <el-select :disabled="statesComponentProperties[state.state].disabled" v-model="condition.operator">
                              <el-option tabindex="0" v-for="operator in operators" :key="operator.value" :label="operator.label" :value="operator.value">
                              </el-option>
                            </el-select>
                          </dd>
                        </dl>
                      </div>
                      <!-- .col -->
                      <div class="col-md-5">
                        <dl v-if="stateDefinitionValue === 'threshold'">
                          <dt>
                            <label :for="`value-${state_key}-${condition_key}`" class="control-label">
                              Value
                            </label>
                          </dt>
                          <dd>
                            <el-input :id="`value-${state_key}-${condition_key}`"
                              :disabled="statesComponentProperties[state.state].disabled"
                              v-model="condition.value"
                              placeholder="Value">
                            </el-input>
                          </dd>
                        </dl>
                        <dl v-else-if="stateDefinitionValue === 'history'">
                          <dt>
                            <label :for="`tolerance-${state_key}-${condition_key}`" class="control-label">
                              Tolerance
                            </label>
                          </dt>
                          <dd>
                            <el-input :id="`tolerance-${state_key}-${condition_key}`"
                              :disabled="statesComponentProperties[state.state].disabled"
                              v-model="condition.tolerance"
                              placeholder="Tolerance">
                            </el-input>
                          </dd>
                        </dl>
                        <dl v-else-if="stateDefinitionValue === 'trend'">
                          <dt>
                            <label :for="`diff-${state_key}-${condition_key}`" class="control-label">
                              Difference
                            </label>
                          </dt>
                          <dd>
                            <el-input :id="`diff-${state_key}-${condition_key}`"
                              :disabled="statesComponentProperties[state.state].disabled"
                              v-model="condition.difference"
                              placeholder="Difference">
                            </el-input>
                          </dd>
                        </dl>
                      </div>
                      <!-- .col -->
                      <div class="col-md-12 text-right">
                        <dl>
                          <dd>
                            <em class="text-muted"><span v-html="describeCondition(condition)"></span></em>
                          </dd>
                        </dl>
                      </div>
                      <!-- .col -->
                      <div class="col-md-12">
                        <dl>
                          <dt>
                            <label for="`reason-${state_key}-${condition_key}`">
                              Reason
                            </label>
                          </dt>
                          <dd>
                            <el-input id="`reason-${state_key}-${condition_key}`" :disabled="statesComponentProperties[state.state].disabled" v-model="condition.reason" :rows="4" class="serif" placeholder="Output message" name="sel1d" type="textarea"></el-input>
                          </dd>
                        </dl>
                      </div>
                      <!-- .col -->
                      <div class="col-md-12" v-if="!statesComponentProperties[state.state].disabled">
                        <dl>
                          <dd class="al-r">
                            <a @click.prevent="deleteStateCondition(state_key, condition_key)" href="#" class="btn btn-sm btn-theme">
                              <i class="ico-cancel"></i>
                            </a>
                          </dd>
                        </dl>
                      </div>
                    </div>
                    <!-- .row -->
                  </article>
                  <div class="row">
                    <div class="col al-r" v-show="!statesComponentProperties[stateType].disabled">
                      <a href="#"
                        v-on:click.prevent="addStateCondition(state_key)"
                        class="btn btn-sm btn-theme"
                        title="Add metrics condition">
                        <i class="ico-plus"></i>
                      </a>
                    </div>
                    <!-- .col -->
                  </div>
                  
                  <div v-if="probe.tags && probe.tags.length > 0">
                    <div class="row">
                      <div class="col-md-5">
                        <dl>
                          <dd>
                            <h3>Tags</h3>
                          </dd>
                        </dl>
                      </div>
                    </div>
                    <!-- .row -->

                    <article :class="`state-item state-item-${state.state}`" v-for="tag,tag_key in state.tags">
                      <div class="row">
                        <div class="col-md-5">
                          <dl>
                            <dt>
                              <label for="sel1a" class="control-label">
                                Tags
                              </label>
                            </dt>
                            <dd>
                              <el-select :id="`tag-${state_key}-${tag_key}`" 
                              :disabled="statesComponentProperties[state.state].disabled" 
                              v-model="tag.name"
                              placeholder="Tag"
                              filterable>
                                <el-option v-for="t in probe.tags"
                                  :key="t.name"
                                  :value="t.name"
                                  :label="t.name">
                                  {{ t.name }}
                                  <el-tooltip class="item" effect="dark" :content="t.description" placement="top-start">
                                    <fa class="text-muted" :icon="faInfoCircle" />
                                  </el-tooltip>
                                </el-option>
                              </el-select>
                            </dd>
                          </dl>
                        </div>
                        <!-- .col -->
                        <div class="col-md-2">
                          <dl>
                            <dt>
                              <label for="sel1b" class="control-label">Operator</label>
                            </dt>
                            <dd>
                              <el-select :disabled="statesComponentProperties[state.state].disabled" v-model="tag.operator">
                                <el-option tabindex="0" v-for="operator in tag_operators" :key="operator.value" :label="operator.label" :value="operator.value">
                                </el-option>
                              </el-select>
                            </dd>
                          </dl>
                        </div>
                        <!-- .col -->
                        <div class="col-md-5">
                          <dl>
                            <dt>
                              <label :for="`tag-value-${state_key}-${tag_key}`" class="control-label">
                                Value
                              </label>
                            </dt>
                            <dd>
                              <el-input :id="`tag-value-${state_key}-${tag_key}`" :disabled="statesComponentProperties[state.state].disabled" v-model="tag.value" placeholder="Value"></el-input>
                            </dd>
                          </dl>
                        </div>
                        <!-- .col -->
                        <div class="col-md-12" v-if="!statesComponentProperties[state.state].disabled">
                          <dl>
                            <dd class="al-r">
                              <a @click.prevent="deleteStateTag(state_key, tag_key)" href="#" class="btn btn-sm btn-theme">
                                <i class="ico-cancel"></i>
                              </a>
                            </dd>
                          </dl>
                        </div>
                      </div>
                      <!-- .row -->
                    </article>
                    <!-- .state-item -->
                    <div class="row">
                      <div class="col al-r" v-show="!statesComponentProperties[stateType].disabled">
                        <a href="#" 
                          v-on:click.prevent="addStateTag(state_key)"
                          class="btn btn-sm btn-theme"
                          title="Add tag condition">
                          <i class="ico-plus"></i>
                        </a>
                      </div>
                      <!-- .col -->
                    </div>
                  </div>
                </div>


                <div v-if="!hasConfiguration(state)" class="text-hint">
                  <el-button @click.prevent="addStateCondition(state_key)">
                    <i class="ico-pencil"></i>
                    Add a state condition
                  </el-button>
                </div>
              </div>
            </div>
            <!-- .bl-i -->
          </div>
        </div>
      </div>
    </div>
    <!-- .content -->
    <el-dialog title="Delete Probe Configuration" :visible.sync="dialogDeleteProbeConfigurationVisible" width="40%">
      <span>This operation cannot be undone</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogDeleteProbeConfigurationVisible = false">Cancel</el-button>
        <el-button type="danger" @click="deleteProbeConfiguration()">Confirm</el-button>
      </span>
    </el-dialog>
    <target-modal :visible="targetModalVisible" :creation="targetModalCreation" @update:targetModalCreation="val => { targetModalCreation = val }" @update:targetModalVisible="val => { targetModalVisible = val }"></target-modal>
  </div>
</template>
<script>

import { mapGetters } from 'vuex'
import OrganizationsDropdown from 'src/components/UIComponents/OrganizationsDropdown.vue'
import EnvironmentSideBar from './EnvironmentSideBar.vue'
import Fa from 'vue-fa'
import { faInfoCircle, faExclamationTriangle } from '@fortawesome/fontawesome-free-solid'
import TargetModal from './TargetModal.vue'
import TargetTag from './TargetTag.vue'
import moment from 'moment'
import juration from 'juration'

const defaultStates = [
  {
    state: 'critical',
    match: 'all',
    conditions: [],
    tags: []
  },
  {
    state: 'warning',
    match: 'all',
    conditions: [],
    tags: []
  }
]

export default {
  components: {
    OrganizationsDropdown,
    EnvironmentSideBar,
    Fa,
    TargetModal,
    TargetTag
  },
  computed: {
    ...mapGetters({
      current_organization_name: 'current_organization_name',
      agent: 'agent',
      probe: 'probe',
      checks: 'checks',
      check: 'check',
      probeConfiguration: 'probeConfiguration',
      target: 'target',
      targets: 'targets'
    }),
    unsaved () {
      if (this.$route.name !== 'EnvironmentAgentProbeConfiguration') {
        return false
      }
      if (this.$helpers.isEmpty(this.probeConfiguration) || this.$helpers.isEmpty(this.check)) {
        return false
      }
      if (this.frequencyValue !== this.probeConfiguration.schedule ||
      this.targetValue !== this.check.target ||
      this.stateDefinitionValue !== this.check.type ||
      this.interval !== this.check.configuration.interval) {
        return true
      }
      if (this.$helpers.deepNotEqual(this.getProbeParamsValues(), this.probeConfiguration.configuration)) {
        return true
      }
      if (this.$helpers.deepNotEqual(this.states, this.check.configuration.states)) {
        return true
      }
      return false
    }
  },
  data () {
    return {
      faInfoCircle,
      faExclamationTriangle,
      dialogDeleteProbeConfigurationVisible: false,
      targetModalVisible: false,
      targetModalCreation: true,
      targetModalData: {},
      frequencyDefault: '60s',
      frequencyValue: null,
      targetValue: null,
      stateDefinitionValue: 'threshold',
      probeParamsValues: {},
      interval: '',
      configuration: {},
      formError: {},
      frequencies: [
        {label: '1 min', value: '60s'},
        {label: '2 min', value: '120s'},
        {label: '5 min', value: '300s'},
        {label: '10 min', value: '600s'},
        {label: '15 min', value: '900s'},
        {label: '30 min', value: '1800s'},
        {label: '60 min', value: '3600s'}
      ],
      statesComponentProperties: {
        critical: {
          label: 'Critical',
          disabled: true
        },
        warning: {
          label: 'Warning',
          disabled: true
        }
      },
      states: undefined,
      state_definitions: [
        {value: 'none', label: 'None', tooltip: 'No states for metrics'},
        {value: 'threshold', label: 'Threshold', tooltip: 'Compare metrics to a fixed threshold'},
        {value: 'history', label: 'History', tooltip: 'Compare metrics to past values'},
        {value: 'trend', label: 'Trend', tooltip: 'Compare metrics rate of change over time'}
      ],
      matches: [
        {value: 'all', label: 'All'},
        {value: 'any', label: 'Any'}
      ],
      operators: [
        {value: 'lt', label: '<'},
        {value: 'le', label: '≤'},
        {value: 'eq', label: '='},
        {value: 'ne', label: '≠'},
        {value: 'ge', label: '≥'},
        {value: 'gt', label: '>'},
        {value: 'match', label: 'matches'},
        {value: 'notmatch', label: 'does not match'}
      ],
      tag_operators: [
        {value: 'eq', label: '='},
        {value: 'ne', label: '≠'},
        {value: 'match', label: 'matches'},
        {value: 'notmatch', label: 'does not match'}
      ],
      saving: false
    }
  },
  beforeCreate () {
    this.$store.dispatch('setCheck', undefined)
    this.storeSubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'SET_CURRENT_ORGANIZATION_NAME' || mutation.type === 'RECEIVE_CREATED_TARGET') {
        if (state.organization.current_organization_name) {
          this.$store.dispatch('listTargets', {
            organization: state.organization.current_organization_name
          })
        }
      }
      if (mutation.type === 'RECEIVE_CREATED_TARGET') {
        this.targetValue = state.target.target.name
      }
      if (mutation.type === 'RECEIVE_CREATED_CHECK') {
        this.createProbeConfiguration()
        this.initCheck()
      }
      if (mutation.type === 'RECEIVE_PROBE_CONFIGURATION') {
        this.frequencyValue = state.probeConfiguration.probeConfiguration.schedule
        this.configuration = state.probeConfiguration.probeConfiguration.configuration
        this.$store.dispatch('getCheck', {
          check: state.probeConfiguration.probeConfiguration.check,
          children_mask: 'target'
        })
      }
      if (mutation.type === 'RECEIVE_CHECK') {
        this.initCheck()
      }
      if (mutation.type === 'RECEIVE_TARGET' || mutation.type === 'SET_TARGET') {
        this.targetValue = state.target.target.name
      }
      if (mutation.type === 'DELETE_PROBE_CONFIGURATION') {
        this.dialogDeleteProbeConfigurationVisible = false
        this.goToAgentEnvironment()
      }
      if (mutation.type === 'RECEIVE_CREATED_PROBE_CONFIGURATION') {
        this.$router.push('/environment/' + state.probeConfiguration.probeConfiguration.name)
      }
    })
  },
  beforeDestroy () {
    this.storeSubscribe()
  },
  created () {
    this.targetValue = undefined
    if (this.$route.query.probe) {
      this.$store.dispatch('getProbe', {
        probe: decodeURIComponent(this.$route.query.probe)
      })
      this.frequencyValue = this.frequencyDefault
      this.$store.dispatch('setProbeConfiguration', {})
    }
    if (this.$route.params.probe_configuration) {
      this.$store.dispatch('getProbeConfiguration', {
        probe: this.$route.params.probe_configuration
      })
    }
    if (this.current_organization_name) {
      this.$store.dispatch('listTargets', {
        organization: this.current_organization_name
      })
    }
  },
  updated () {
    this.$nextTick(function () {
      document.querySelectorAll('.el-tooltip').forEach(function (n) {
        n.tabIndex = '99'
      })
    })
  },
  beforeRouteLeave (to, from, next) {
    if (this.unsaved) {
      const msg = 'You have unsaved changes. Do you really want to leave the page?'
      if (window.confirm(msg)) {
        return next()
      } else {
        return next(false)
      }
    }
    return next()
  },
  methods: {
    refreshTarget () {
      this.$store.dispatch('getTarget', {
        target: this.targetValue
      })
    },
    createTargetIfNeeded () {
      if (!this.targets || this.targets.length === 0) {
        this.createTargetModal()
      }
    },
    createCheckAndProbeConfiguration () {
      if (!this.validateConfiguration(true)) {
        return
      }
      this.$store.dispatch('createCheck', {
        organization: this.current_organization_name,
        target: this.targetValue,
        probe: this.probe.name,
        type: 'threshold',
        configuration: {
          states: defaultStates
        }
      })
    },
    createProbeConfiguration () {
      if (!this.validateConfiguration(true)) {
        return
      }
      this.$store.dispatch('createProbeConfiguration', {
        organization: this.current_organization_name,
        configuration: this.getProbeParamsValues(),
        check: this.check,
        agent: this.agent,
        probe: this.probe,
        schedule: this.frequencyValue
      })
    },
    updateProbeConfiguration () {
      if (!this.validateConfiguration(true)) {
        return
      }
      this.saving = true
      this.$store.dispatch('updateProbeConfiguration', {
        organization: this.current_organization_name,
        probeConfiguration: this.probeConfiguration,
        configuration: this.getProbeParamsValues(),
        check: this.check,
        agent: this.agent,
        probe: this.probe,
        schedule: this.frequencyValue
      }).finally(_ => {
        this.saving = false
      })
      this.updateCheck()
    },
    // validateMandatory checks the mandatory fields for the Probe Configuration
    // and the Check. If `setErrors` is `true`, also sets an error message for
    // the missing fields to display in the UI.
    validateMandatory (setErrors) {
      let ret = true
      if (setErrors) {
        this.formError = {}
      }
      if (!this.targetValue || this.targetValue === '') {
        if (setErrors) {
          this.formError['target'] = 'Target is mandatory'
        }
        ret = false
      }
      if (this.probe && this.probe.configuration_template) {
        for (const param of this.probe.configuration_template) {
          if (param.mandatory && !this.configuration[param.name]) {
            if (setErrors) {
              this.formError[param.name] = `${param.name} is mandatory`
            }
            ret = false
          }
        }
      }
      return ret
    },
    // validateConfiguration pre-validates as much as possible of the fields
    // from the Probe Configuration and the Check. If `setErrors` is `true`,
    // also sets an error message for the invalid fields to display in the UI.
    validateConfiguration (setErrors) {
      let ret = true
      if (setErrors) {
        this.formError = {}
      }
      if (!this.validateMandatory(setErrors)) {
        ret = false
      }
      if (!this.probe || !this.probe.configuration_template) {
        return ret
      }
      for (const param of this.probe.configuration_template) {
        const v = this.$helpers.formatGolangTypes(this.configuration[param.name], param.type)
        if ((this.configuration[param.name] && this.configuration[param.name] !== '') &&
          (v === null || v === undefined)) {
          if (setErrors) {
            this.formError[param.name] = `${param.name} is not a ${param.type}`
          }
          ret = false
        }
      }
      return ret
    },
    beginEdit (stateKey, stateType) {
      for (const [ k, state ] of this.states.entries()) {
        if (k !== stateKey) {
          if (this.$helpers.deepNotEqual(state, this.check.configuration.states[k])) {
            const msg = `You have unsaved changes in "${state.state}" state configuration. Do you really want to continue?`
            if (window.confirm(msg)) {
              break
            } else {
              return
            }
          }
        }
      }
      for (const [ k, state ] of this.states.entries()) {
        if (k === stateKey) {
          this.statesComponentProperties[state.state].disabled = false
        } else {
          this.cancelEdit(k, state.state)
        }
      }
    },
    cancelEdit (stateKey, stateType) {
      const state = JSON.parse(JSON.stringify(this.check.configuration.states[stateKey]))
      this.$set(this.states, stateKey, state)
      this.statesComponentProperties[stateType].disabled = true
    },
    updateCheck (stateKey, stateType) {
      const states = this.filterStatesValues(this.states)
      if (states === undefined) {
        console.error("couldn't update check")
        return
      }
      this.$store.dispatch('updateCheck', {
        name: this.check.name,
        target_name: this.targetValue,
        type: this.stateDefinitionValue,
        configuration: {
          states: (this.stateDefinitionValue === 'none') ? undefined : states,
          interval: (this.stateDefinitionValue === 'history' || this.stateDefinitionValue === 'trend') ? this.interval : undefined
        }
      }).then(_ => {
        if (stateType) {
          this.statesComponentProperties[stateType].disabled = true
        } else {
          for (const scp of Object.values(this.statesComponentProperties)) {
            scp.disabled = true
          }
        }
      })
    },
    filterStatesValues (states) {
      const f = (key, value) => {
        if (value === null || value === undefined) {
          return undefined
        }
        if (key === 'value' && this.stateDefinitionValue !== 'threshold') {
          return undefined
        } else if (key === 'tolerance' && this.stateDefinitionValue !== 'history') {
          return undefined
        } else if (key === 'difference' && this.stateDefinitionValue !== 'trend') {
          return undefined
        }
        return value
      }
      states = (states) ? JSON.parse(JSON.stringify(states, f)) : JSON.parse(JSON.stringify(defaultStates))
      for (const s of states) {
        for (const cond of s.conditions.values()) {
          const m = this.probe.metrics.find(m => m.name === cond.field)
          if (!m) {
            continue
          }
          if (this.stateDefinitionValue === 'threshold') {
            cond.value = this.$helpers.formatGolangTypes(cond.value, m.type)
            if (cond.value === undefined) {
              return
            }
          } else if (this.stateDefinitionValue === 'history') {
            cond.tolerance = parseFloat(cond.tolerance)
          } else if (this.stateDefinitionValue === 'trend') {
            cond.difference = this.$helpers.formatGolangTypes(cond.difference, m.type)
            if (cond.difference === undefined) {
              return
            }
          } else {
            continue
          }
        }
      }
      return states
    },
    deleteProbeConfiguration () {
      this.$store.dispatch('deleteProbeConfiguration', {
        probeConfiguration: this.probeConfiguration.name
      })
    },
    ListChecks () {
      this.$store.dispatch('ListChecks', {
        organization: this.current_organization_name,
        targets: [this.targetValue],
        probes: [this.probe.name]
      })
    },
    createTargetModal () {
      this.targetModalVisible = true
      this.targetModalCreation = true
    },
    getProbeParamsValues () {
      if (!this.probe || !this.probe.configuration_template) {
        return {}
      }
      const values = {}
      for (const param of this.probe.configuration_template) {
        values[param.name] = this.$helpers.formatGolangTypes(this.configuration[param.name], param.type)
      }
      return values
    },
    initCheck () {
      this.$store.dispatch('getProbe', {
        probe: this.check.probe
      })
      if (this.check.children && this.check.children.target) {
        this.$store.dispatch('setTarget', {
          target: this.check.children.target
        })
      }
      this.stateDefinitionValue = this.check.type
      this.interval = this.check.configuration.interval
      const states = this.check.configuration.states
      if (states && Array.isArray(states) && states.length > 0) {
        this.states = JSON.parse(JSON.stringify(states))
      } else {
        this.check.configuration.states = JSON.parse(JSON.stringify(defaultStates))
        this.states = JSON.parse(JSON.stringify(defaultStates))
      }
    },
    hasConfiguration (state) {
      return (state.conditions && state.conditions.length > 0) || (state.tags && state.tags.length > 0)
    },
    addStateCondition (stateKey) {
      if (!this.states[stateKey].conditions) {
        this.states[stateKey].conditions = []
      }
      this.states[stateKey].conditions.push({})
      this.statesComponentProperties[this.states[stateKey].state].disabled = false
    },
    deleteStateCondition (stateKey, conditionKey) {
      this.states[stateKey].conditions.splice(conditionKey, 1)
    },
    addStateTag (stateKey) {
      if (!this.states[stateKey].tags) {
        this.states[stateKey].tags = []
      }
      this.states[stateKey].tags.push({})
      this.statesComponentProperties[this.states[stateKey].state].disabled = false
    },
    deleteStateTag (stateKey, tagKey) {
      this.states[stateKey].tags.splice(tagKey, 1)
    },
    goToAgentEnvironment () {
      this.$router.push('/environment/' + this.agent.name)
    },
    describeCondition (condition) {
      if (this.stateDefinitionValue === 'threshold') {
        let op = this.operators.find(o => o.value === condition.operator)
        if (!op) {
          op = condition.operator
        } else {
          op = op.label
        }
        return `Condition will be active if <code>${condition.field}</code> ${op} ${condition.value}`
      } else if (this.stateDefinitionValue === 'trend') {
        if (!this.interval || !juration.parse(this.interval)) {
          return '<span class="alert alert-danger" role="alert">Interval is invalid</span>'
        }
        let desc = `Condition will be active if <code>${condition.field}</code>`
        switch (condition.operator) {
          case 'gt':
            if (condition.difference > 0) {
              desc += ` has increased by more than ${condition.difference}`
            } else if (condition.difference < 0) {
              desc += ` has decreased by more than ${-condition.difference}`
            } else {
              desc += ' has increased'
            }
            break
          case 'ge':
            if (condition.difference > 0) {
              desc += ` has increased by ${condition.difference} or more`
            } else if (condition.difference < 0) {
              desc += ` has decreased by ${-condition.difference} or more`
            } else {
              desc += ' has not decreased'
            }
            break
          case 'lt':
            if (condition.difference > 0) {
              desc += ` has increased by less than ${condition.difference}`
            } else if (condition.difference < 0) {
              desc += ` has decreased by less than ${-condition.difference}`
            } else {
              desc += ' has decreased'
            }
            break
          case 'le':
            if (condition.difference > 0) {
              desc += ` has increased by ${condition.difference} or less`
            } else if (condition.difference < 0) {
              desc += ` has decreased by ${-condition.difference} or less`
            } else {
              desc += ' has not increased'
            }
            break
          case 'eq':
            if (condition.difference > 0) {
              desc += ` has increased by exactly ${condition.difference}`
            } else if (condition.difference < 0) {
              desc += ` has decreased by exactly ${-condition.difference}`
            } else {
              desc += ' has not changed'
            }
            break
          case 'ne':
            if (condition.difference > 0) {
              desc += ` has not increased by exactly ${condition.difference}`
            } else if (condition.difference < 0) {
              desc += ` has not decreased by exactly ${-condition.difference}`
            } else {
              desc += ' has changed'
            }
            break
          default:
            return 'Invalid operator'
        }
        desc += ` over the past ${juration.stringify(juration.parse(this.interval))}`
        return desc
      } else if (this.stateDefinitionValue === 'history') {
        if (!this.interval || !juration.parse(this.interval)) {
          return '<span class="alert alert-danger" role="alert">Interval is invalid</span>'
        }
        let desc = `Condition will be active if <code>${condition.field}</code>`
        switch (condition.operator) {
          case 'gt':
            desc += ` is greater than ${100 + condition.tolerance * 100}% of the value`
            break
          case 'ge':
            desc += ` is greater than ${100 - condition.tolerance * 100}% of the value`
            break
          case 'lt':
            desc += ` is less than ${100 - condition.tolerance * 100}% of the value`
            break
          case 'le':
            desc += ` is less than ${100 + condition.tolerance * 100}% of the value`
            break
          case 'eq':
            desc += ` is between ${100 - condition.tolerance * 100}% and ${100 + condition.tolerance * 100}% of the value`
            break
          case 'ne':
            desc += ` is not between ${100 - condition.tolerance * 100}% and ${100 + condition.tolerance * 100}% of the value`
            break
          default:
            return 'Invalid operator'
        }
        desc += ` ${moment.duration(-juration.parse(this.interval), 's').humanize(true)}`
        return desc
      }
    }
  }
}
</script>
<style scoped>

#probe-configuration-form .el-select {
  display: block;
  width: 100%;
}

.mandatory ::placeholder {
  font-style: italic;
}

.el-input__inner {
  border-color: #ccc;
}

.error .el-input__inner {
  border-color: #f00;
}

.el-select {
  width: 100%;
}

a.saving {
  padding-left: 28px;
}

a.saving span {
  position: relative;
}

.saving span::before {
  font-family:"icons";
  content: "\E1F7";
  position: absolute;
  left: -18px;
  animation: spin 1.6s linear infinite;
}

</style>
