<!-- 
Copyright 2017 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
<template>
  <div>
    <div class="sb-group">
      <ul class="sb-list">
        <li v-for="agent_item in agents">
          <el-tooltip
            placement="right"
            :disabled="tooltip(agent_item).disabled"
            :content="tooltip(agent_item).content"
            :enterable="false"
          >
            <div :class="sbAgentClasses(agent_item)">
              <router-link class="sb-name" :to="'/environment/' + agent_item.name">
                <span>{{ agent_item.display_name }}</span>
              </router-link>
              <a @click="$emit('updateAgentModal', agent_item)" class="sb-agent-modif">
                <i class="ico-cog"></i>
              </a>
            </div>
            <!-- .sb-agent -->
          </el-tooltip>
        </li>
      </ul>
      <a @click="$emit('createAgentModal')" class="btn btn-sm btn-theme">
        <i class="ico-plus"></i> Agent
      </a>
    </div>
    <!-- .sb-group -->
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import semver from 'semver'


export default {
  computed: {
    ...mapGetters({
      current_organization_name: 'current_organization_name',
      agents: 'agents',
      agent: 'agent',
      probeConfigurations: 'probeConfigurations',
      info: 'info'
    })
  },
  data () {
    return {
      value: ''
    }
  },
  beforeCreate () {
    this.storeSubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'SET_CURRENT_ORGANIZATION_NAME') {
        if (state.organization.current_organization_name) {
          this.listAgents()
        }
      }
      if (mutation.type === 'RECEIVE_AGENTS') {
        if (!this.$route.params.agent && state.agent.agents.length > 0 && !state.agent.agent.name) {
          this.setAgent(state.agent.agents[0])
        }
      }
      if (mutation.type === 'RECEIVE_AGENT') {
        this.listAgents()
        if (state.agent.agent) {
          this.setAgent(state.agent.agent)
        }
      }
      if (mutation.type === 'RECEIVE_CREATED_AGENT') {
        this.listAgents()
        this.setAgent(state.agent.agent)
      }
      if (mutation.type === 'DELETE_AGENT') {
        this.$router.push('/environment')
        this.listAgents()
      }
    })
  },
  beforeDestroy () {
    this.storeSubscribe()
  },
  watch: {
    '$route.params.agent': function (id) {
      if (this.$route.params.agent) {
        this.$store.dispatch('getAgent', {
          agent_name: this.$route.params.agent
        })
      }
    }
  },
  created () {
    if (this.$route.params.agent) {
      this.$store.dispatch('getAgent', {
        agent_name: this.$route.params.agent
      })
    }
    if (this.current_organization_name) {
      this.listAgents()
    }
  },
  mounted () {
    if (!this.$helpers.isEmpty(this.agent)) {
      this.setAgent(this.agent)
    }
    if (this.current_organization_name) {
      this.listAgents()
    }
  },
  methods: {
    listAgents () {
      this.$store.dispatch('listAgents', {
        organization_name: this.current_organization_name,
        filters: {}
      })
    },
    setAgent (agent) {
      if (this.$route.name === 'Environment' || this.$route.name === 'EnvironmentAgent') {
        this.$router.push('/environment/' + agent.name)
      }
      this.$store.dispatch('setAgent', agent)
      this.$store.dispatch('listProbeConfigurations', { parent: agent.name })
    },
    sbAgentClasses (agent) {
      const classes = ['sb-agent']
      if (this.agent && (agent.name === this.agent.name)) {
        classes.push('current')
      }
      if (!agent.last_activity) {
        classes.push('sb-spinner')
      } else {
        if (this.info && !!this.info.version && agent && !!agent.last_version) {
          switch (semver.diff(this.info.version, agent.last_version)) {
            case 'major':
              classes.push('sb-stop')
              break
            case 'minor':
            case 'patch':
              classes.push('sb-warning')
              break
            default:
              classes.push('sb-ok')
          }
        }
      }
      return classes
    },
    tooltip (agent) {
      if (!agent.last_activity) {
        return {content: 'Agent is not live yet', disabled: false}
      } else if (this.info && !!this.info.version && !!agent.last_version &&
                  semver.gt(this.info.version, agent.last_version)) {
        return {content: 'Agent requires update', disabled: false}
      }
      return {content: '', disabled: true}
    }
  }
}
</script>
