<template>
  <div>
    <el-dialog
      @open="openModal"
      :title="( creation ? 'Create target' : `Update target / ${target.display_name}`)"
      :before-close="closeModal"
      :visible.sync="visible"
      :creation.sync="creation"
      width="50%">
      <div v-if="creation">
        <div class="row">
          <div class="col-md-12">
            <el-input
              id="address"
              size="small"
              v-model="address"
              placeholder="address">
            </el-input>
          </div>
        </div>
      </div>
      <span slot="footer" class="dialog-footer" v-if="creation">
        <el-button type="default" @click="closeModal()">
          Cancel
        </el-button>
        <el-button type="primary" @click="createTarget()">
          Create
        </el-button>
      </span>
      <div v-if="creation === false && !$helpers.isEmpty(agent)">
        <div class="row m-b-20">
        </div>
      </div>
      <span slot="footer" class="dialog-footer" v-if="creation === false && !$helpers.isEmpty(agent)">
        <el-button type="danger" @click="deleteTarget()">
          Delete
        </el-button>
        <el-button type="primary" @click="closeModal()">
          Next
        </el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'


export default {
  props: {
    visible: {
      type: Boolean,
      default: true
    },
    creation: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    ...mapGetters({
      agent: 'agent',
      probe: 'probe',
      current_organization_name: 'current_organization_name'
    })
  },
  data () {
    return {
      address: ''
    }
  },
  beforeCreate () {},
  beforeDestroy () {},
  mounted () {},
  methods: {
    openModal () {
      this.$nextTick(function () {
        document.getElementById('address').focus()
      })
    },
    closeModal () {
      this.$emit('update:targetModalVisible', false)
      this.address = ''
      return false
    },
    createTarget () {
      if (this.address) {
        this.$store.dispatch('createTarget', {
          organization_name: this.current_organization_name,
          address: this.address
        })
        this.target_display_name = ''
        this.$emit('update:agentModalCreation', false)
        this.closeModal()
      }
    }
  }
}
</script>
