<!-- 
Copyright 2017 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
 <template>
  <div>
    <div class="middle">
      <div class="middle-i">
        <div class="content">

          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <form v-on:submit.prevent="login()">
                  <div class="bl">
                    <header class="bl-header">
                      <h2 class="bl-title">
                        Login
                      </h2>
                    </header>
                    <div class="bl-i">
                      <div class="form-group">
                        <label>Email address</label>
                        <input
                          type="email"
                          v-model="data.email"
                          placeholder="Enter email"
                          class="form-control input-no-border"
                        >
                      </div>
                      <div class="form-group">
                        <label>Password</label>
                        <input
                          type="password"
                          v-model="data.password"
                          placeholder="Password"
                          class="form-control input-no-border"
                        >
                      </div>
                    </div>
                    <footer class="bl-footer">
                      <button type="submit" class="btn btn-theme btn-wd">Let's go</button>
                      <p class="text-danger m-t-5"><b>{{ error }}</b></p>
                    </footer>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        data: {
          email: '',
          password: ''
        },
        error: null
      }
    },
    methods: {
      login () {
        this.$store.dispatch('loginUser', {
          username: this.data.email,
          password: this.data.password
        }).catch(() => {
          this.error = 'Unable to log you in.'
        })
      }
    },
    beforeCreate () {
      this.storeUnsubscribe = this.$store.subscribe((mutation, state) => {
        if (mutation.type === 'AUTH_SUCCESS') {
          this.error = ''
          this.data.email = ''
          this.data.password = ''
          this.$router.push({ path: '/' })
        }
      })
    },
    beforeDestroy () {
      this.storeUnsubscribe()
    }
  }
</script>
<style>
</style>
