<!-- 
Copyright 2020 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
<template>
  <div id="app">
    <navbar></navbar>
    <main>
      <router-view></router-view>
    </main>
    <div id="panto-watch-version">
      <span v-if="!!versionString">watch {{ versionString }}</span>
      <br />
      <span v-if="!!info.long_version">server {{ info.long_version }}</span>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex';

import Navbar from '@/components/Navbar';
import { Routes } from '@/router';
import * as Alert from '@/store/alert';
import * as Auth from '@/store/auth';
import * as Info from '@/store/info';
import * as Organization from '@/store/organization';

export default {
  components: {
    Navbar
  },
  data() {
    return {
      versionString: `v${VERSION}-${COMMIT_HASH}`
    };
  },
  computed: {
    ...mapGetters(['info'])
  },
  created() {
    this.$store.dispatch(Info.Actions.GET_INFO);
    this.$store.subscribe(mutation => {
      if (mutation.type === Auth.Mutations.LOGIN_SUCCESSFUL) {
        this.$store.dispatch(Organization.Actions.GET_ORGANIZATION);
      } else if (mutation.type === Auth.Mutations.LOGGED_OUT) {
        localStorage.clear();
        // Using router `go` instead of `push` forces true browser navigation
        // and resets the Vuex store to its initial state.
        this.$router.go({ name: Routes.LOGIN });
      } else if (
        mutation.type === Organization.Mutations.ORGANIZATION_RECEIVED
      ) {
        this.$store.dispatch(Alert.Actions.LIST_ALERTS);
      }
    });
  }
};
</script>
<style lang="scss">
@import '@creativebulma/bulma-tooltip/src/sass/index.sass';

html,
body {
  &.has-navbar-fixed-top {
    padding-top: $navbar-height + 2 * $navbar-padding-vertical;
  }
  &.has-navbar-fixed-bottom {
    padding-bottom: $navbar-height + $navbar-padding-vertical;
  }
}

main {
  padding-top: $gap;
}

#panto-watch-version {
  position: absolute;
  right: 0;
  bottom: 0;

  padding-right: 3px;
  padding-bottom: 5px;

  font-size: 12px;
  text-align: right;

  color: rgba(255, 255, 255, 0.3);
  text-shadow: 1px 1px 1px rgba(156, 108, 108, 0.2);

  user-select: none;
  pointer-events: none;
}
</style>
