<!--
Copyright 2017 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
<template>
  <div>
    <div class="middle">
      <div class="entete">
        <div class="entete-switch">
          <organizations-dropdown></organizations-dropdown>
        </div>
        <h2 class="entete-title">
          Alerts
        </h2>
      </div>
      <div class="middle-i">
        <div class="content">
          <div class="tet">
            <input placeholder="Search by target, agent, plugin, metric"
                   class="form-control fl-l"
                   style="max-width:300px;"
                   type="text">
            <a @click.prevent="openModal(null)"
               class="btn btn-theme fl-r"
               data-toggle="modal"
               data-target="#myModal">
              <i class="ico-plus"></i>
              Create an alert
            </a>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="bl">
                <header class="bl-header">
                  <h2 class="bl-title">Alerts</h2>
                </header>
                <div class="bl-i form-type">
                  <div v-if="!alerts || alerts.length === 0" class="text-hint">
                    <el-button @click.prevent="openModal(null)"
                      data-toggle="modal"
                      data-target="#myModal">
                      <i class="ico-plus"></i>
                      Create an alert
                    </el-button>
                  </div>
                  <article class="alert-item"
                    v-if="alerts"
                    v-for="alert, alert_key in alerts"
                    :key="alert_key">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="al-r">
                          <a @click.prevent="openModal(alert)"
                            class="bl-action-item"
                            data-toggle="modal"
                            data-target="#myModal">
                            <i class="ico-pencil"></i>
                          </a>
                          <a @click.prevent="deletingAlert = alert" class="bl-action-item">
                            <i class="ico-cancel"></i>
                          </a>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <h3 class="alert-subtitle">Definition</h3>
                        <dl>
                          <dd>
                            <div class="alert-off" v-if="alertDefinitions">
                              {{ alertDefinitions[alert.type].label }}
                            </div>
                          </dd>
                        </dl>
                      </div>

                      <div class="col-md-4">
                        <h3 class="alert-subtitle">Checks</h3>
                        <dl>
                          <dd>
                            <div :class="`alert-off alert-off-${check.type}`"
                              v-for="check in alert.checks">
                              {{ $helpers.formatCheckLabel(check, checks) }}
                            </div>
                          </dd>
                        </dl>
                      </div>

                      <div class="col-md-4">
                        <h3 class="alert-subtitle">Channel</h3>
                        <dl>
                          <dd>
                            <div class="alert-off">
                              {{ channelDisplayName(alert.channel) }}
                            </div>
                          </dd>
                        </dl>
                      </div>
                    </div>
                  </article>
                </div>
                <footer class="bl-footer">
                </footer>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="alerts">
      <alert-modal
        ref="alertModal"
        :visible="alertModalVisible"
        :alert="alertModalObject"
        :creation="alertModalCreation"
        @update:alertModalVisible="val => { alertModalVisible = val }">
      </alert-modal>
      <el-dialog
        title="Delete Alert"
        width="30%"
        :visible="!!deletingAlert">
        <span>Are you sure you want to delete this alert?</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="deletingAlert = null">Cancel</el-button>
          <el-button type="danger" @click.prevent="deleteAlert(deletingAlert)">Delete</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>
<script>
import OrganizationsDropdown from 'src/components/UIComponents/OrganizationsDropdown.vue'
import { mapGetters } from 'vuex'
import AlertModal from './AlertModal.vue'

export default {
  components: {
    OrganizationsDropdown,
    AlertModal
  },
  computed: {
    ...mapGetters({
      current_organization_name: 'current_organization_name',
      organization: 'organization',
      channels: 'channels',
      channelTypes: 'channelTypes',
      alertDefinitions: 'alertDefinitions',
      alerts: 'alerts',
      checks: 'checks'
    })
  },
  data () {
    return {
      alertModalVisible: false,
      alertModalCreation: true,
      alertModalObject: undefined,
      deletingAlert: null
    }
  },
  beforeCreate () {
    this.storeSubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'SET_CURRENT_ORGANIZATION_NAME' ||
        mutation.type === 'RECEIVE_CREATED_ALERT' ||
        mutation.type === 'RECEIVE_ALERT' ||
        mutation.type === 'DELETE_ALERT') {
        this.listAlerts(state.organization.current_organization_name)
      }
    })
  },
  beforeDestroy () {
    this.storeSubscribe()
  },
  created () {
    if (this.current_organization_name) {
      this.listAlerts(this.current_organization_name)
    }
  },
  methods: {
    listAlerts (organization) {
      this.$store.dispatch('listAlerts', {
        organization: organization,
        filters: {
          children_mask: 'checks'
        }
      })
      this.$store.dispatch('listChannels', {
        organization: organization
      })
      this.$store.dispatch('listChannelTypes', {
        organization: organization
      })
    },
    openModal (alert) {
      this.alertModalObject = alert
      this.alertModalCreation = !alert
      this.alertModalVisible = true
    },
    deleteAlert (alert) {
      this.$store.dispatch('deleteAlert', {
        alert: alert
      }).then(_ => { this.deletingAlert = null })
    },
    channelDisplayName (channelName) {
      const channel = this.channels.find(c => c.name === channelName)
      if (!channel) {
        return
      }
      return channel.display_name
    }
  }
}

</script>
<style>
.alert-off {
  overflow-wrap: break-word;
}
</style>
