<template>
  <div class="panto-alert-modal">
    <el-dialog
      @open="openModal"
      :title="( creation ? 'Create alert' : `Update alert`)"
      :before-close="closeModal"
      :visible.sync="visible"
      width="60%">
      <div v-if="!$helpers.isEmpty(alertObj)">
        <fieldset>
          <div class="modal-part">
            <header class="bl-header">
              <h2 class="bl-title">Definition</h2>
            </header>
            <div class="bl-i">
              <div class="row">
                <div class="col-md-10">
                  <dl>
                    <dd>
                      <el-radio-group v-model="alertObj.type">
                        <el-tooltip
                          v-for="(type, type_key) in alertDefinitions"
                          :key="type_key"
                          placement="top-start"
                          :content="type.tooltip"
                          :enterable="false">
                          <el-radio
                            :label="type_key"
                            :key="type_key">
                            {{ type.label }}
                          </el-radio>
                        </el-tooltip>
                      </el-radio-group>
                    </dd>
                  </dl>
                  <dl v-if="alertObj.type === 'state_recurrence'">
                    <dd>
                        <el-input
                          placeholder="Recurrence count"
                          v-model="configuration.state_recurrence.recurrence"
                          ref="input_recurrence">
                        </el-input>
                    </dd>
                  </dl>
                  <dl v-if="alertObj.type === 'state_flap'">
                    <dd>
                        <el-input
                          placeholder="Flap count"
                          v-model="configuration.state_flap.occurrence"
                          ref="input_occcurence">
                        </el-input>
                    </dd>
                  </dl>
                  <dl v-if="alertObj.type === 'state_flap'">
                    <dd>
                        <el-input
                          placeholder="Tolerance"
                          v-model="configuration.state_flap.tolerance"
                          ref="input_tolerance">
                        </el-input>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-part">
            <header class="bl-header">
              <h2 class="bl-title">Check</h2>
            </header>
            <div class="bl-i">
              <div class="row">
                <div class="col-md-12">
                  <dl>
                    <dd>
                      <el-select
                        id="check"
                        :value="alertObj.checks[0]"
                        class="inline-input"
                        placeholder="Search Checks"
                        @change="handleCheckSelect"
                        filterable>
                        <el-option
                          v-for="check in activeChecks"
                          :key="check.name"
                          :value="check.name"
                          :label="$helpers.formatCheckLabel(check.name, checks)">
                            {{ `${check.children.probe.display_name} - ${check.children.target.address}` }}
                            <el-popover
                              placement="right"
                              trigger="hover"
                              v-if="getConditions(check).length > 0">
                              <fa class="icon-muted" fw size="xs" :icon="faBars" slot="reference"/>
                              <div :class="`state-item state-item-${condition.state}`" role="alert"
                                v-for="condition in getConditions(check)">
                                {{ condition.reason }}
                              </div>
                            </el-popover>
                        </el-option>
                      </el-select>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-part">
            <header class="bl-header">
              <h2 class="bl-title">Alert Channel</h2>
            </header>
            <channel-panel
              v-model="alertObj.channel"
              :editing.sync="editingChannel"
              :context="{ alert: this.alertObj }"
              ref="channel_panel">
            </channel-panel>
          </div>
        </fieldset>
      </div>
      <div slot="footer" v-if="!$helpers.isEmpty(alertObj) && creation">
        <el-button type="default" @click="closeModal()">
          Cancel
        </el-button>
        <el-button 
          type="primary" 
          @click="createAlert()" 
          :disabled="editingChannel || alertObj.type === '' || alertObj.channel === '' || alertObj.checks.length === 0">
          Create
        </el-button>
      </div>
      <div slot="footer" v-if="!$helpers.isEmpty(alertObj) && !creation">
        <el-button type="default" @click="closeModal()">
          Cancel
        </el-button>
        <el-button 
          type="primary" 
          @click="updateAlert()" 
          :disabled="editingChannel || alertObj.type === '' || alertObj.channel === '' || alertObj.checks.length === 0">
          Save
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import Fa from 'vue-fa'
import { faBars, faCog } from '@fortawesome/fontawesome-free-solid'
import ChannelPanel from './ChannelPanel'

const validateAndParseInt = function (s) {
  if (typeof s !== 'string') {
    return undefined
  }
  return /^-?\d+$/.test(s) ? parseInt(s, 10) : undefined
}

export default {
  name: 'panto-alert-modal',
  props: {
    visible: {
      type: Boolean,
      default: true
    },
    creation: {
      type: Boolean,
      default: true
    },
    alert: {
      type: Object
    }
  },
  components: {
    Fa,
    ChannelPanel
  },
  computed: {
    ...mapGetters({
      current_organization_name: 'current_organization_name',
      alertDefinitions: 'alertDefinitions',
      checks: 'checks',
      probeConfigurations: 'probeConfigurations'
    }),
    activeChecks () {
      return this.checks.filter(
        c => this.probeConfigurations.some(
          pc => pc.check === c.name
        )
      )
    }
  },
  data () {
    return {
      faBars,
      faCog,
      editingChannel: undefined,
      alertObj: undefined,
      configuration: undefined
    }
  },
  beforeCreate () {
    this.storeSubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'SET_CURRENT_ORGANIZATION_NAME') {
        this.$store.dispatch('listChecks', {
          organization: state.organization.current_organization_name,
          filters: {
            children_mask: 'target,probe'
          }
        }).then(() => {
          const checks = this.checks.map(c => c.name)
          this.queryProbeConfiguration(checks)
        })
      }
      if (mutation.type === 'SET_ALERT') {
        this.setAlert(state.alert.alert)
      }
    })
  },
  beforeDestroy () {
    this.storeSubscribe()
  },
  mounted () {
    if (this.current_organization_name) {
      this.$store.dispatch('listChecks', {
        organization: this.current_organization_name,
        filters: {
          children_mask: 'target,probe'
        }
      }).then(() => {
        const checks = this.checks.map(c => c.name)
        this.queryProbeConfiguration(checks)
      })
    }
  },
  methods: {
    openModal () {
      // Init data property from parent prop
      this.configuration = {
        state_recurrence: {},
        state_flap: {},
        state_change: {}
      }
      this.setAlert(this.alert)
    },
    closeModal () {
      this.$emit('update:alertModalVisible', false)
      return false
    },
    setAlert (alert) {
      if (alert) {
        this.alertObj = JSON.parse(JSON.stringify(alert))
        const config = JSON.parse(alert.configuration)
        switch (alert.type) {
          case 'state_recurrence':
            this.configuration.state_recurrence = config
            break
          case 'state_flap':
            this.configuration.state_flap = config
            break
        }
      } else {
        this.alertObj = {
          checks: [],
          channel: '',
          type: '',
          configuration: {}
        }
      }
      if (this.$refs.channel_panel) {
        this.$refs.channel_panel.setChannel(this.alertObj.channel)
      }
    },
    createAlert () {
      const config = this.makeConfiguration()
      if (config === undefined) {
        return
      }
      this.$store.dispatch('createAlert', {
        organization: this.current_organization_name,
        alert: { ...this.alertObj,
          configuration: JSON.stringify(config)
        }
      }).then(() => {
        this.$emit('update:alertModalVisible', false)
      })
    },
    updateAlert () {
      const config = this.makeConfiguration()
      if (config === undefined) {
        return
      }
      this.$store.dispatch('updateAlert', {
        parent: this.current_organization_name,
        alert: { ...this.alertObj,
          configuration: JSON.stringify(config)
        }
      })
      this.$emit('update:alertModalVisible', false)
    },
    makeConfiguration () {
      let config = {}
      let err = false
      switch (this.alertObj.type) {
        case 'state_recurrence':
          const recurrence = validateAndParseInt(this.configuration.state_recurrence.recurrence)
          if (recurrence === undefined) {
            this.$refs.input_recurrence.$el.classList.add('has-error')
            err = true
          } else {
            config.recurrence = recurrence
          }
          break
        case 'state_flap':
          const occurrence = validateAndParseInt(this.configuration.state_flap.occurrence)
          if (occurrence === undefined) {
            this.$refs.input_occurrence.$el.classList.add('has-error')
            err = true
          } else {
            config.occurrence = occurrence
          }
          const tolerance = validateAndParseInt(this.configuration.state_flap.tolerance)
          if (tolerance === undefined) {
            this.$refs.input_tolerance.$el.classList.add('has-error')
            err = true
          } else {
            config.tolerance = tolerance
          }
          break
      }
      return err ? undefined : config
    },
    handleCheckSelect (item) {
      this.alertObj.checks = [item]
    },
    getConditions (check) {
      if (!check || !check.configuration) {
        return []
      }
      const stateConfiguration = check.configuration
      if (!stateConfiguration || !stateConfiguration.states) {
        return []
      }
      const conditions = []
      if (Array.isArray(stateConfiguration.states)) {
        for (const state of stateConfiguration.states) {
          if (state.conditions && state.conditions.length > 0) {
            for (const cond of state.conditions) {
              conditions.push({ state: state.state, reason: cond.reason })
            }
          }
        }
      }
      return conditions
    },
    queryProbeConfiguration (checks) {
      this.$store.dispatch('QueryProbeConfiguration', {
        organization: this.current_organization_name,
        filters: {
          checks: checks
        }
      })
    }
  }
}
</script>
<style scoped>
.icon-muted {
  color: #a7a7a7;
}
.state-item {
  font-size: 12px;
  padding: 0.5em 0.4em;
  margin-bottom: 0.5rem;
}
</style>
<style>

.panto-alert-modal .el-dialog__body {
  padding: 0;
}

.el-select, .el-autocomplete {
  display: block;
}

.el-input__inner {
  border-color: #ccc;
}

.has-error input {
  border-color: #fd3c31 !important;
  background-color: #fde4e3 !important;
}

</style>
