<template>
  <div class="bl-i">
    <div class="row" v-if="!editing">
      <div class="col-md-10">
        <dl>
          <dd>
            <el-select
              :value="channelObj.name"
              tabindex="-1"
              filterable
              placeholder="Select a Channel"
              @change="selectChannel"
            >
              <el-option
                v-for="channel, channel_key in channels"
                :key="channel_key"
                :label="channel.display_name"
                :value="channel.name"
              >
              </el-option>
              <el-option key="new_channel" label="Add new channel..." value="new_channel">
              </el-option>
            </el-select>
          </dd>
        </dl>
      </div>
      <div class="col-md-2 text-right">
        <el-button type="primary" @click="editChannel" icon="el-icon-edit-outline" :disabled="!channelObj">
          Edit
        </el-button>
      </div>
    </div>
    <div v-if="editing" class="p-t-20 p-b-20">
      <h3 class="bl-title m-b-10">{{'Create new Channel'}}</h3>
      <div class="row">
        <div class="col-md-10">
          <dl>
            <dd>
              <el-input v-model="newChannelObj.display_name" placeholder="Channel name, e.g. Slack alert" type="input">
              </el-input>
            </dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <dl>
            <dd>
              <el-select
                v-model="newChannelObj.channel_type"
                @change="selectChannelType"
                tabindex="-1"
                filterable
                placeholder="Select a channel type"
              >
                <el-option
                  v-for="type, type_key in channelTypes"
                  :key="type.name"
                  :label="type.label"
                  :value="type.name"
                ></el-option>
              </el-select>
            </dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div v-if="newChannelObj.channel_type">
          <div v-for="param, param_key in newChannelType.configuration" class="col-md-10">
            <dl>
              <dd>
                <el-input
                  v-model="newChannelObj.configuration[param.name]"
                  :placeholder="`${param.description} ${param.mandatory == true ? '(required)' : ''}`"
                  type="input"
                ></el-input>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 text-right">
          <el-button type="default" @click="cancel()">Cancel</el-button>
          <el-button v-if="!newChannelObj.name" type="primary" @click="createChannel()">Add Channel</el-button>
          <el-button v-else type="primary" @click="updateChannel()">Update Channel</el-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'channel-panel',
  props: {
    editing: {
      type: Boolean,
      default: false
    },
    value: String,
    context: Object
  },
  computed: {
    ...mapGetters({
      current_organization_name: 'current_organization_name',
      channelTypes: 'channelTypes',
      channels: 'channels'
    })
  },
  data () {
    return {
      channelObj: {},
      newChannelObj: {},
      newChannelType: {}
    }
  },
  beforeCreate () {
    this.storeSubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'RECEIVE_CREATED_CHANNEL') {
        this.$store.dispatch('listChannels', {
          organization: state.organization.current_organization_name
        }).then(() => {
          this.$emit('update:editing', false)
          this.setChannel(state.channel.channel.name)
          this.newChannelObj = {}
          this.newChannelType = {}
        })
      } else if (mutation.type === 'RECEIVE_UPDATED_CHANNEL') {
        this.$emit('update:editing', false)
        this.setChannel(state.channel.channel.name)
        this.newChannelObj = {}
        this.newChannelType = {}
      }
    })
  },
  beforeDestroy () {
    this.storeSubscribe()
  },
  mounted () {
    this.setChannel(this.value)
  },
  methods: {
    setChannel (name) {
      const channel = this.channels.find(c => name === c.name)
      this.channelObj = channel ? JSON.parse(JSON.stringify(channel)) : {}
      this.$emit('input', this.channelObj.name)
    },
    createChannel () {
      if (this.newChannelObj) {
        this.$store.dispatch('createChannel', {
          organization: this.current_organization_name,
          channel: {
            ...this.newChannelObj,
            configuration: JSON.stringify(this.newChannelObj.configuration)
          }
        })
      }
    },
    updateChannel () {
      if (this.newChannelObj) {
        this.$store.dispatch('updateChannel', {
          channel: {
            ...this.newChannelObj,
            configuration: JSON.stringify(this.newChannelObj.configuration)
          }
        })
      }
    },
    selectChannel (channel) {
      if (channel === 'new_channel') {
        this.$emit('update:editing', true)
        this.newChannelObj = { display_name: '', configuration: {} }
      } else {
        this.setChannel(channel)
      }
    },
    editChannel () {
      this.newChannelObj = JSON.parse(JSON.stringify(this.channels.find(c => c.name === this.channelObj.name)))
      this.newChannelObj.configuration = JSON.parse(this.newChannelObj.configuration)
      this.newChannelType = this.channelTypes.find(t => t.name === this.newChannelObj.channel_type)
      this.$emit('update:editing', true)
    },
    cancel () {
      this.$emit('update:editing', false)
    },
    selectChannelType (name) {
      const channelType = this.channelTypes.find(c => name === c.name)
      this.newChannelType = channelType || {}
    }
  }
}
</script>
