<template>
  <div class="container">
    <div class="title">E-mail alerts</div>
    <validation-observer v-slot="{ handleSubmit, invalid }">
      <form @submit.prevent="handleSubmit(onSubmit)">
        <div class="field">
          <validation-provider
            v-slot="{ errors, failed }"
            rules="email"
            tag="div"
          >
            <label class="label">{{ $t('alert-form.email.dest') }}</label>
            <div class="control">
              <input
                id="dest"
                v-model="formAlert.dest"
                :class="{ input: true, 'is-danger': failed }"
                type="email"
                placeholder="alert@example.com"
                :disabled="disabled || loading"
              />
            </div>
            <p v-show="failed" class="help is-danger">
              {{ errors[0] }}
            </p>
          </validation-provider>
        </div>
        <div class="field">
          <validation-provider
            v-slot="{ errors, failed }"
            rules="email-list"
            tag="div"
          >
            <label class="label">{{ $t('alert-form.email.cc') }}</label>
            <div class="control">
              <input
                id="cc"
                v-model="formAlert.cc"
                :class="{ input: true, 'is-danger': failed }"
                type="text"
                placeholder="john@example.com,mark@example.com"
                :disabled="disabled || loading"
              />
            </div>
            <p v-show="failed" class="help is-danger">
              {{ errors[0] }}
            </p>
          </validation-provider>
        </div>
        <div class="field has-addons has-addons-right">
          <div class="control">
            <button
              :class="{
                button: true,
                'is-primary': true,
                'is-loading': loading
              }"
              :disabled="disabled || loading || invalid"
            >
              <slot name="submit-button">
                <span>{{ $t('alert-form.update') }}</span>
              </slot>
            </button>
          </div>
        </div>
      </form>
    </validation-observer>
  </div>
</template>

<script>
import _ from 'lodash';
import { mapState } from 'vuex';

import * as Alert from '@/store/alert';
import * as Organization from '@/store/organization';

export default {
  name: 'Alerts',
  data() {
    return {
      formAlert: {
        dest: this.channel?.configuration?.dest || '',
        cc: this.channel?.configuration?.cc || ''
      },
      disabled: false,
      loading: true
    };
  },
  computed: {
    ...mapState({
      organization: state => state.organization.organization,
      alert: state => state.alert.alert,
      channel: state => state.alert.channel
    })
  },
  created() {
    if (this.organization) {
      this.$store.dispatch(Alert.Actions.LIST_ALERTS);
    }
    this.$store.subscribe(mutation => {
      if (mutation.type === Organization.Mutations.ORGANIZATION_RECEIVED) {
        this.$store.dispatch(Alert.Actions.LIST_ALERTS);
      } else if (mutation.type === Alert.Mutations.ALERT_RECEIVED) {
        this.$store.dispatch(Alert.Actions.GET_CHANNEL);
      } else if (mutation.type === Alert.Mutations.CHANNEL_RECEIVED) {
        this.formAlert = this.channel.configuration;
        this.loading = false;
      }
    });
  },
  methods: {
    onSubmit() {
      const a = _.mapValues(this.formAlert, v => (!v ? undefined : v));
      this.$store.dispatch(Alert.Actions.UPDATE_CHANNEL, {
        channelConfiguration: a
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.title {
  padding-bottom: 0.2rem;
  border-bottom: $grey-lightest solid 2px;
}
</style>
