<!-- 
Copyright 2020 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->

<template>
  <div class="container">
    <div class="title">{{ $t('create-endpoint.new-endpoint') }}</div>
    <endpoint-form :endpoint="endpoint" :loading="creating" @submit="onSubmit">
      <template v-slot:submit-button>
        <span class="icon">
          <font-awesome-icon icon="plus"></font-awesome-icon>
        </span>
        <span>{{ $t('create-endpoint.add') }}</span>
      </template>
    </endpoint-form>
  </div>
</template>

<script>
import EndpointForm from '@/components/EndpointForm';
import { Actions, Mutations } from '@/store/endpoint';

export default {
  name: 'CreateEndpoint',
  components: {
    EndpointForm
  },
  data() {
    return {
      endpoint: {
        /* empty object for creation */
      },
      creating: false
    };
  },
  created() {
    if (!this.$store.endpoint?.httpProbeName) {
      this.$store.dispatch(Actions.GET_HTTP_PROBE_NAME);
    }
    this.$store.subscribe(mutation => {
      if (mutation.type === Mutations.ENDPOINT_CREATED) {
        if (this.creating) {
          this.creating = false;
          this.$router.push({
            name: this.$router.routes.ENDPOINTS
          });
        }
      }
    });
  },
  methods: {
    async onSubmit(endpoint) {
      this.creating = true;
      try {
        await this.$store.dispatch(Actions.CREATE_ENDPOINT, {
          endpoint
        });
      } catch (err) {
        this.creating = false;
        throw err;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.title {
  padding-bottom: 0.2rem;
  border-bottom: $grey-lightest solid 2px;
}
</style>
