<!-- 
Copyright 2020 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->

<template>
  <div class="container">
    <div class="title">{{ title }}</div>
    <endpoint-form :endpoint="endpoint" :loading="loading" @submit="onSubmit">
      <template v-slot:submit-button>
        <span>{{ $t('endpoint-details.update') }}</span>
      </template>
    </endpoint-form>
  </div>
</template>

<script>
import _ from 'lodash';
import { mapState, mapGetters } from 'vuex';

import EndpointForm from '@/components/EndpointForm';
import * as Endpoint from '@/store/endpoint';
import * as Organization from '@/store/organization';

export default {
  name: 'EndpointDetails',
  components: {
    EndpointForm
  },
  props: {
    name: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      loading: true
    };
  },
  computed: {
    endpoint() {
      return this.endpointByName(this.name);
    },
    title() {
      return this.endpoint?.url;
    },
    ...mapState({
      organization: state => state.organization.organization
    }),
    ...mapGetters(['endpointByName'])
  },
  created() {
    if (this.organization) {
      this.$store.dispatch(Endpoint.Actions.LIST_ENDPOINTS);
    }
    this.$store.subscribe(mutation => {
      if (mutation.type === Organization.Mutations.ORGANIZATION_RECEIVED) {
        this.$store.dispatch(Endpoint.Actions.LIST_ENDPOINTS);
      } else if (mutation.type === Endpoint.Mutations.ENDPOINTS_RECEIVED) {
        this.loading = false;
      } else if (mutation.type === Endpoint.Mutations.ENDPOINT_UPDATED) {
        if (this.loading) {
          this.loading = false;
          this.$router.push({
            name: this.$router.routes.ENDPOINTS
          });
        }
      }
    });
  },
  methods: {
    async onSubmit(endpoint) {
      this.loading = true;
      const endpoint_name = this.name;
      try {
        await this.$store.dispatch(Endpoint.Actions.UPDATE_ENDPOINT, {
          endpoint_name,
          endpoint
        });
      } catch (err) {
        this.loading = false;
        throw err;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.title {
  padding-bottom: 0.2rem;
  border-bottom: $grey-lightest solid 2px;
}
</style>
