<!-- 
Copyright 2020 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->

<template>
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <router-link
            class="button"
            :to="{ name: $router.routes.CREATE_ENDPOINT }"
          >
            <span class="icon">
              <font-awesome-icon icon="plus"></font-awesome-icon>
            </span>
            <span>
              {{ $t('endpoints.new-endpoint') }}
            </span>
          </router-link>
        </div>
      </div>
    </div>
    <endpoint-card
      v-for="e of endpoints"
      :key="e.probeConfiguration.name"
      :endpoint="e"
    ></endpoint-card>
  </div>
</template>

<script>
import _ from 'lodash';
import { mapState } from 'vuex';

import EndpointCard from '@/components/EndpointCard.vue';
import * as Endpoint from '@/store/endpoint';
import * as Organization from '@/store/organization';

export default {
  name: 'Endpoints',
  components: {
    EndpointCard
  },
  data() {
    return {
      intervalId: null
    };
  },
  computed: {
    ...mapState({
      organization: state => state.organization.organization,
      endpoints: state => state.endpoint.endpoints
    })
  },
  timers: {
    pollStates: {
      time: process.env.NODE_ENV === 'production' ? 30000 : 5000,
      repeat: true,
      autostart: true
    }
  },
  created() {
    if (this.organization) {
      this.$store.dispatch(Endpoint.Actions.LIST_ENDPOINTS);
    }
    this.$store.subscribe(mutation => {
      if (mutation.type === Organization.Mutations.ORGANIZATION_RECEIVED) {
        this.$store.dispatch(Endpoint.Actions.LIST_ENDPOINTS);
      }
    });
  },
  methods: {
    pollStates() {
      this.$store.dispatch(Endpoint.Actions.GET_STATES);
    }
  }
};
</script>
