<!-- 
Copyright 2020 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->

<template>
  <div id="login-container" class="container">
    <form class="panel" @submit.prevent="login">
      <p class="panel-heading">{{ $t('login.sign-in') }}</p>
      <div class="panel-block">
        <div id="login-form">
          <div v-show="error" class="field">
            <div
              id="login-error-notification"
              class="notification is-danger is-light is-size-6 is-italic has-text-weight-light"
            >
              <font-awesome-icon icon="ban"></font-awesome-icon>
              {{ error }}
            </div>
          </div>
          <div class="field">
            <div class="control has-icons-left">
              <input
                v-model="username"
                class="input"
                type="text"
                :placeholder="$t('login.username')"
              />
              <span class="icon is-small is-left">
                <font-awesome-icon icon="user"></font-awesome-icon>
              </span>
            </div>
          </div>
          <div class="field">
            <div class="control has-icons-left">
              <input
                v-model="password"
                class="input"
                type="Password"
                :placeholder="$t('login.password')"
              />
              <span class="icon is-small is-left">
                <font-awesome-icon icon="lock"></font-awesome-icon>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-block panel-control">
        <input
          class="button is-primary"
          type="submit"
          :value="$t('login.sign-in')"
        />
      </div>
    </form>
  </div>
</template>

<script>
import { PantoAPIError } from '@/plugins/panto-api';
import * as Auth from '@/store/auth';

export default {
  name: 'Login',
  data() {
    return {
      username: '',
      password: '',
      error: null
    };
  },
  created() {
    this.$store.subscribe(mutation => {
      if (mutation.type === Auth.Mutations.LOGIN_SUCCESSFUL) {
        this.$router.push({ name: this.$router.routes.ENDPOINTS });
      } else if (mutation.type === Auth.Mutations.LOGIN_FAILED) {
        const err = mutation.payload;
        if (err instanceof PantoAPIError && err.data?.message) {
          this.error = err.data.message;
        } else {
          this.error = this.$t('login.unexpected-error');
        }
      }
    });
  },
  methods: {
    login() {
      this.$store.dispatch(Auth.Actions.LOGIN, {
        username: this.username,
        password: this.password
      });
    }
  }
};
</script>

<style lang="scss" scoped>
#login-container {
  @include tablet {
    width: 600px;
  }
}

#login-error-notification {
  padding: 0.75rem 1.5rem 0.75rem 0.85rem;
}

#login-form {
  width: 100%;
}

.panel-control {
  justify-content: flex-end;
}
</style>
