// Copyright 2017 Pantomath SAS
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

// SIDEBAR
// ------------------------------

.sb {
	
	.fix(); left:0; top:0; height:100%; width:260px; background-color:#fff; z-index:1; -webkit-box-shadow:0px 1px 20px 0px rgba(0,0,0,0.1); -moz-box-shadow:0px 1px 20px 0px rgba(0,0,0,0.1); box-shadow:0px 1px 20px 0px rgba(0,0,0,0.1); padding-top:@h-header+@h-entete; .trans();
	
	@media (max-width: @screen-xs-max) {
		left:-260px; z-index:110; .pad-t(0);
		.sb-open & { left:0; }
	}
	
	&-inter {
		.abs(); width:40px; height:40px; background:@col-base; color:#fff; .al-c(); .lh(40); display:block; .fs(16); text-decoration:none; top:50%; margin-top:-20px; right:-20px; .cercle(); z-index:1031; transition:all 0.25s ease-in-out 0s; box-shadow:0px 0px 10px 0px rgba(0,0,0,0.3);
		@media (min-width: @screen-sm-min) {
			display:none;
		}
	}
	
	&-line { 
		display:block; width:20px; height:2px; background-color:#fff; position:absolute; transition:all 0.25s ease-in-out 0s; left:50%; top:50%; margin-left:-10px; margin-top:-1px;
		.sb-open & { 
			background-color:transparent;
			&:before { transform:rotate(45deg); top:0; left:0; }
			&:after { transform:rotate(-45deg); top:0; left:0; }
		}
		&:before, &:after { display:block; width:20px; height:2px; background-color:#fff; position:absolute; transition:all 0.25s ease-in-out 0s; content:''; }
		&:before {  top:-7px; }
		&:after { top:7px; }
	}
	
	&-i { 
		.rel(); .mar-b(20);
		@media (max-width: @screen-xs-max) {
			height:100% !important;
			.sb-open & {  }
		}
	}
	
	&-title { color:@col-layout-d; .fs(16); .pad-b(10); }
	
	&-list { list-style:none; .pad(0); margin:0 -20px; .pad-b(10); }
	
	&-item { 
		color:@col-base; padding:7px 10px 7px 20px; .rel(); display:block; .trans();
		a& { 
			.no-touch &:hover { color:@col-layout; }
		}
		span { .rel(); }
		&.current { 
			background-color:@body-bg;
			&:after { content:''; display:block; width:5px; height:100%; .abs(); top:0; right:0; background-color:@col-layout; }
		}
	}
	
	&-agent {
		padding:7px 25px 7px 20px; .rel(); display:block; .trans();
		&.current { 
			background-color:@body-bg;
			&:after { content:''; display:block; width:5px; height:100%; .abs(); top:0; right:0; background-color:@col-layout; }
		}
		&:hover {
			background-color:#f6f8fa;
			.sb-agent-modif { right:12px; opacity:1; }
		}
		&-modif {
			.abs(); right:12px; top:5px; .trans(); opacity:0; color:@col-layout;
			&:hover { opacity:0.5; }
		}
	}
	
	&-legende {
		&-item { padding:2px 10px 2px 20px; display:block; }
	}
	
	&-bl { padding:10px 20px; }
	
	&-name { 
		display:block; height:20px; .lh(20); color:@col-base; opacity:0.5; .trans(); .rel();
		span { display:block; height:20px; overflow:hidden; }
		.no-touch &:hover { color:@col-layout; }
		.sb-ok & { 
			opacity:1;
			&:before { .ok(); color:@col-success; .abs(); left:-15px; .lh(20); }
		}
		.sb-spinner & { 
			opacity:1;
			&:before {
				.spinner(); color: @gray-light; .abs(); left:-15px; .lh(20);
				animation-duration: 3s; animation-name: spin; animation-iteration-count: infinite; animation-timing-function: linear;
			}
		}
		.sb-warning & { 
			opacity:1;
			&:before { .attention(); color:@col-warning; .abs(); left:-15px; .lh(20); }
		}
		.sb-stop & { 
			opacity:1;
			&:before { .cancel-circled(); color:@col-error; .abs(); left:-15px; .lh(20); }
		}
	}
		
	&-legende { background-color:#ddd; .pad-b(10); }
	
	&-group { 
		padding:20px 20px 0 20px;
		&:last-child { .pad-b(40); }
	}
	
	input.form-control { .mar-b(10); }
	
	.btn-block { .mar-t(20); }
	
	&-alert { 
		border-top:1px solid #ccc; border-bottom:1px solid #ccc; margin:-1px -20px 0 -20px; padding:10px 10px 10px 20px; .rel();
		.since { right:auto; top:auto; .rel(); }
		strong { .fs(13); .lh(15); display:block; }
	}
	
}