<template>
  <div
    :class="tagClass"
    :style="tagStyle"
    @mouseenter="hovering = true"
    @mouseleave="hovering = false"
    @click.prevent="toggleCollapsed"
  >
    <span>
      <slot>{{ label }}</slot>
    </span>
  </div>
</template>
<script>
import Color from 'color'

function validateColor (value) {
  try {
    Color(value)
    return true
  } catch (err) {
    return false
  }
}

export default {
  name: 'Tag',
  props: {
    color: {
      type: String,
      default: '#444',
      validator: validateColor
    },
    label: {
      type: String
    },
    outline: {
      type: Boolean,
      default: false
    },
    size: {
      type: String,
      default: 'normal',
      validator: value => ['small', 'normal', 'large'].includes(value)
    },
    collapsed: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      hovering: false
    }
  },
  computed: {
    tagColor () {
      return Color(this.color)
    },
    tagClass () {
      return {
        'tag': true,
        [this.size]: true,
        'collapsed': this.collapsed,
        'dark': this.tagColor.isDark(),
        'outline': this.outline
      }
    },
    tagStyle () {
      let color = this.tagColor
      if (this.hovering) {
        if (color.isDark()) {
          color = color.darken(0.3)
        } else {
          color = color.lighten(0.3)
        }
      }
      let style = ''
      if (!this.outline) {
        style += `background-color: ${color.hex()};`
      } else {
        style += `border-color: ${color.hex()}; color: ${color.hex()}; `
      }
      return style
    }
  },
  methods: {
    toggleCollapsed () {
      this.$emit('update:collapsed', !this.collapsed)
    }
  }
}
</script>
<style scoped>
.tag {
  display: inline-block;

  border-radius: 0.4em;
  padding: 0.1em 0.6em;
  max-width: 12em;

  cursor: pointer;

  white-space: nowrap;
  overflow: hidden;
  text-transform: lowercase;
}

.tag:not(.outline) {
  color: black;
}
.tag.dark:not(.outline) {
  color: white;
}

.tag:not(.collapsed) {
  transition-property: max-width, border-radius, padding;
  transition-duration: 0.6s, 0.6s, 0.2s;
  transition-delay: 0s, 0s, 0.1s;
}
.tag.collapsed {
  border-radius: 50%;
  padding: 0.1em 0.8em;
  max-width: 0;

  transition-property: max-width, border-radius, padding;
  transition-duration: 0.6s, 0.6s, 0.2s;
  transition-delay: 0s, 0s, 0.2s;
}
.tag.collapsed:before {
  content: "\200b";
}
.tag.collapsed span {
  color: rgba(255, 255, 255, 0);

  transition: color 0.2s;
}
.tag:not(.collapsed) span {
  transition: color 0.2s;
}

.tag.small {
  font-size: x-small;
}
.tag.normal {
  font-size: small;
}
.tag.large {
  font-size: medium;
  font-weight: bold;
}

.tag.outline {
  border: 1px solid;
}
.tag.large.outline {
  border: 2px solid;
}
</style>

