<!--
Copyright 2017 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
// -->

<!-- footer.html to be included by NGINX Fancy Index module starts here -->

</div><!-- .row -->
</section>
</main><!-- .middle -->

<footer class="footer">
	<div class="container">
		<div class="row justify-content-center text-center">
			PANTO &trade; is a monitoring software developped by PANTOMATH &trade;
		</div><!-- .row -->
		<div class="row justify-content-center text-center">
			<a href="//about.panto.app/legal.html" style="color:white">Legal</a>
		</div><!-- .row -->
		<div class="row justify-content-center text-center icons">
			<div class="col-4">
				<a href="//gitlab.com/pantomath-io/panto"><i class="fa fa-3x fa-fw fa-gitlab"></i></a>
			</div><!-- .col-4 -->
			<div class="col-4">
				<a href="//twitter.com/panto_app"><i class="fa fa-3x fa-fw fa-twitter"></i></a>
			</div><!-- .col-4 -->
			<div class="col-4">
				<a href="//medium.com/pantomath"><i class="fa fa-3x fa-medium"></i></a>
			</div><!-- .col-4 -->
		</div><!-- .row -->
	</div><!-- .container -->
</footer>


<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
</body>

</html>