<!-- 
Copyright 2020 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
<template>
  <router-link
    :to="{
      name: $router.routes.ENDPOINT_DETAILS,
      params: { name: endpoint.name }
    }"
    class="box level is-unselectable"
    tag="div"
  >
    <div class="level-left">
      <div class="level-item">
        <p
          id="state-icon"
          :class="pClass"
          :data-tooltip="$t(`endpoint-card.${endpoint.state.toLowerCase()}`)"
        >
          <font-awesome-icon
            :icon="icon"
            size="2x"
            :spin="spin"
          ></font-awesome-icon>
        </p>
      </div>
    </div>
    <div class="level-item">
      <p class="subtitle">
        {{ endpoint.url }}
      </p>
    </div>
  </router-link>
</template>

<script>
import { States } from '@/store/endpoint';

export default {
  name: 'EndpointCard',
  props: {
    endpoint: {
      type: Object,
      required: true
    }
  },
  computed: {
    icon() {
      switch (this.endpoint?.state) {
        case States.OK:
          return 'arrow-up';
        case States.WARNING:
        case States.CRITICAL:
          return 'arrow-down';
        case States.MISSING_DATA:
        case States.ERROR:
          return 'question';
        case States.UNKNOWN:
        default:
          return 'circle-notch';
      }
    },
    spin() {
      return ![
        States.OK,
        States.WARNING,
        States.CRITICAL,
        States.ERROR,
        States.MISSING_DATA
      ].includes(this.endpoint?.state);
    },
    pClass() {
      const state = this.endpoint?.state;
      return {
        icon: true,
        'is-large': true,
        'has-text-white': true,
        'has-background-success': state === States.OK,
        'has-background-grey': !state || state === States.UNKNOWN,
        'has-background-warning': state === States.MISSING_DATA,
        'has-background-danger': [
          States.WARNING,
          States.CRITICAL,
          States.ERROR
        ].includes(state)
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.box {
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);

  &:hover {
    border-color: $button-hover-border-color;
  }

  &:active {
    box-shadow: inset 0 1px 2px rgba($scheme-invert, 0.2),
      0 0 0 1px rgba($scheme-invert, 0.02);
  }

  #state-icon {
    border-radius: 50%;
  }
}
</style>
