<!-- 
Copyright 2020 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
<template>
  <validation-observer v-slot="{ handleSubmit }">
    <form @submit.prevent="handleSubmit(onSubmit)">
      <div class="field">
        <validation-provider
          v-slot="{ errors, failed }"
          rules="required|url"
          tag="div"
        >
          <label class="label">{{ $t('endpoint-form.endpoint-url') }} *</label>
          <div class="control">
            <input
              id="url"
              v-model="formEndpoint.url"
              :class="{ input: true, 'is-danger': failed }"
              type="text"
              placeholder="https://example.com"
              :disabled="disabled || loading"
            />
          </div>
          <p v-show="failed" class="help is-danger">
            {{ errors[0] }}
          </p>
        </validation-provider>
      </div>
      <div class="field">
        <validation-provider
          v-slot="{ errors, failed }"
          rules="required"
          tag="div"
        >
          <label class="label">{{ $t('endpoint-form.schedule') }} *</label>
          <div class="control">
            <div :class="{ select: true, 'is-danger': failed }">
              <select
                ref="freqSelect"
                v-model="formEndpoint.schedule"
                :disabled="disabled || loading"
              >
                <option disabled value="">{{
                  $t('endpoint-form.select-duration')
                }}</option>
                <option
                  v-for="(sched, i) of scheduleChoices"
                  :key="i"
                  :value="sched"
                >
                  {{ sched.format('h [hour] m [min]', { trim: 'both' }) }}
                </option>
              </select>
            </div>
          </div>
          <p v-show="failed" class="help is-danger">
            {{ errors[0] }}
          </p>
        </validation-provider>
      </div>
      <div class="field">
        <validation-provider
          v-slot="{ errors, failed }"
          rules="alpha"
          tag="div"
        >
          <label class="label">{{ $t('endpoint-form.method') }}</label>
          <div class="control">
            <input-dropdown
              v-model="formEndpoint.method"
              :class="{ 'is-danger': failed }"
              :choices="httpMethods"
              :disabled="disabled || loading"
              @change="formEndpoint.method = formEndpoint.method.toUpperCase()"
            ></input-dropdown>
          </div>
          <p v-show="failed" class="help is-danger">
            {{ errors[0] }}
          </p>
        </validation-provider>
      </div>
      <div class="field">
        <validation-provider
          v-slot="{ errors, failed }"
          rules="duration"
          tag="div"
        >
          <label class="label">{{ $t('endpoint-form.timeout') }}</label>
          <div class="control">
            <input
              v-model="formEndpoint.timeout"
              :class="{ input: true, 'is-danger': failed }"
              type="text"
              placeholder="1m"
              :disabled="disabled || loading"
            />
          </div>
          <p v-show="failed" class="help is-danger">
            {{ errors[0] }}
          </p>
        </validation-provider>
      </div>
      <div class="field">
        <label class="label">{{ $t('endpoint-form.body') }}</label>
        <div class="control">
          <textarea
            v-model="formEndpoint.body"
            class="textarea is-family-code"
            rows="8"
            :disabled="disabled || loading"
          />
        </div>
      </div>
      <div class="field has-addons has-addons-right">
        <div class="control">
          <button
            :class="{ button: true, 'is-primary': true, 'is-loading': loading }"
            :disabled="disabled || loading"
          >
            <slot name="submit-button">
              <span>{{ $t('endpoint-form.submit') }}</span>
            </slot>
          </button>
        </div>
      </div>
    </form>
  </validation-observer>
</template>

<script>
import _ from 'lodash';
import moment from 'moment';

import InputDropdown from './InputDropdown';

require('moment-duration-format')(moment);

const httpMethods = [
  'GET',
  'POST',
  'PUT',
  'DELETE',
  'HEAD',
  'OPTIONS',
  'PATCH'
];

function valuesFromEndpoint(endpoint) {
  return {
    url: endpoint?.url || null,
    schedule: endpoint?.schedule || null,
    method: endpoint?.method || null,
    timeout: endpoint?.timeout || null,
    body: endpoint?.body || null
  };
}

export default {
  name: 'EndpointForm',
  components: {
    InputDropdown
  },
  props: {
    endpoint: {
      type: null,
      required: true
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    loading: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      methodInputFocus: false,
      scheduleChoices: [
        moment.duration(1, 'm'),
        moment.duration(5, 'm'),
        moment.duration(30, 'm'),
        moment.duration(1, 'h'),
        moment.duration(2, 'h'),
        moment.duration(6, 'h'),
        moment.duration(12, 'h'),
        moment.duration(24, 'h')
      ],
      httpMethods,
      filteredHttpMethods: httpMethods,
      formEndpoint: valuesFromEndpoint(this.endpoint)
    };
  },
  watch: {
    endpoint: {
      handler(e) {
        this.$set(this, 'formEndpoint', valuesFromEndpoint(e));
      },
      deep: true
    }
  },
  methods: {
    onSubmit() {
      const e = _.mapValues(this.formEndpoint, v => (!v ? undefined : v));
      this.$emit('submit', e);
    }
  }
};
</script>
