<!-- 
Copyright 2020 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
<template>
  <nav
    class="navbar is-fixed-top is-spaced has-shadow"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="navbar-brand">
      <router-link class="navbar-item" to="/">
        <p class="title">panto∙watch</p>
      </router-link>
      <div class="navbar-burger burger" data-target="navbar-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="navbar-menu" class="navbar-menu">
      <div v-if="!routeIsLogin" class="navbar-start">
        <router-link
          class="navbar-item is-size-5"
          :to="{ name: $router.routes.ENDPOINTS }"
        >
          <span class="icon">
            <font-awesome-icon icon="list-ul"></font-awesome-icon>
          </span>
          <span>Endpoints</span>
        </router-link>
        <router-link
          class="navbar-item is-size-5"
          :to="{ name: $router.routes.ALERTS }"
        >
          <span class="icon">
            <font-awesome-icon icon="bullhorn"></font-awesome-icon>
          </span>
          <span>Alerts</span>
        </router-link>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <p class="control">
            <button
              v-if="!routeIsLogin"
              id="logout-button"
              class="button is-primary is-outlined"
              @click="logout"
            >
              <span class="icon">
                <font-awesome-icon icon="sign-out-alt"></font-awesome-icon>
              </span>
              <span>
                {{ $t('navbar.sign-out') }}
              </span>
            </button>
          </p>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import { Routes } from '@/router';
import * as Auth from '@/store/auth';

export default {
  name: 'Navbar',
  computed: {
    routeIsLogin() {
      return this.$route?.name && this.$route.name === Routes.LOGIN;
    },
    routes() {
      return Routes;
    }
  },
  methods: {
    logout() {
      this.$store.dispatch(Auth.Actions.LOGOUT);
    }
  }
};
</script>
