<!--
Copyright 2017 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
<template>
  <div class="bl-i chart">
    <div class="error-overlay" v-if="error">
      <h2 class="error-overlay-message">
        <fa :icon="faExclamationCircle"/>This graph could not be displayed
      </h2>
    </div>
    <div v-if="tagsCollection && tagsCollection.length > 0">
      <div v-for="(tags, i) in tagsCollection" :key="i">
        <line-with-line-chart
          v-if="dataCollection[tags]"
          :chart-data="dataCollection[tags]"
          :chart-options="optionsCollection[tags]"
          :height="220"
          :line-time="lineTime"
          @update:lineTime="$emit('update:lineTime', $event)"
          ref="charts"
        ></line-with-line-chart>
      </div>
    </div>
    <div v-else>
      <line-with-line-chart :chart-data="[]" :chart-options="chartOptions" :height="220" ref="chart"></line-with-line-chart>
    </div>
  </div>
</template>
<script>
import moment from 'moment'
import juration from 'juration'
import { mapGetters } from 'vuex'
import { Loading } from 'element-ui'
import Fa from 'vue-fa'
import { faExclamationCircle } from '@fortawesome/fontawesome-free-solid'
import LineWithLineChart from '../../../UIComponents/LineWithLineChart'

const groupBy = function (xs, f) {
  return xs.reduce(function (rv, x) {
    (rv[f(x)] = rv[f(x)] || []).push(x)
    return rv
  }, {})
}

const dataset = function (results, fields) {
  const datasets = []
  for (const f in fields) {
    const fieldName = fields[f].name
    const fieldColor = fields[f].color
    if (typeof fieldName === 'string') {
      const d = results.map(r => {
        if (r.error) {
          return {
            x: moment(r.timestamp),
            y: NaN
          }
        } else if (r.fields[fieldName]) {
          return {
            x: moment(r.timestamp),
            y: parseFloat(r.fields[fieldName].value)
          }
        } else {
          return {
            x: moment(r.timestamp),
            y: NaN
          }
        }
      })
      datasets.push({
        label: fieldName,
        data: d,
        borderColor: fieldColor,
        backgroundColor: fieldColor,
        borderWidth: 2,
        hitRadius: 7,
        pointRadius: 1,
        pointHoverRadius: 3,
        pointHoverBackgroundColor: fieldColor,
        fill: false,
        cubicInterpolationMode: 'monotone'
      })
    }
  }
  return { datasets }
}

const formatByte = function (value) {
  const sizes = ['B', 'KiB', 'MiB', 'GiB', 'TiB', 'PiB', 'EiB']
  let i = 0
  while (value > 1024 && i < sizes.length - 1) {
    value /= 1024
    i++
  }
  return Math.round(value) + ' ' + sizes[i]
}
const formatDuration = function (value) {
  if (value < 0) {
    return '- ' + juration.stringify(-value / 1000000000, { format: 'micro' })
  } else {
    return juration.stringify(value / 1000000000, { format: 'micro' })
  }
}
const formatPercent = function (value) {
  return parseFloat(value) + ' %'
}
const formatBignumber = function (value) {
  if (parseFloat(value) > 1000000000) {
    return parseFloat(value).toExponential(3)
  } else {
    return parseFloat(value).toLocaleString('en')
  }
}

const isDataNull = function (collection) {
  for (const dataset of collection.datasets.values()) {
    for (const d of dataset.data.values()) {
      if (d !== undefined) {
        return false
      }
    }
  }
  return true
}

export default {
  props: ['check', 'graph', 'probeconfiguration', 'daterange', 'lineTime'],
  components: {
    Fa,
    LineWithLineChart
  },
  computed: {
    ...mapGetters({
      current_organization_name: 'current_organization_name'
    })
  },
  data () {
    return {
      faExclamationCircle,
      chartOptions: {
        responsive: true,
        maintainAspectRatio: false,
        animation: null,
        fill: false,
        scales: {
          xAxes: [
            {
              type: 'time',
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'Time'
              }
            }
          ],
          yAxes: [
            {
              display: true,
              ticks: {
                beginAtZero: true
              },
              stacked: this.graph.type === 'stacked-lines',
              afterUpdate: function (axis) {
                // fixed scale width to align graphs
                axis.width = 75
              }
            }
          ]
        },
        legend: {
          position: 'top'
        },
        tooltips: {
          mode: 'index',
          intersect: false
        },
        hover: {
          mode: 'index',
          intersect: false
        }
      },
      tagsCollection: null,
      dataCollection: null,
      optionsCollection: null,
      g: this.graph,
      error: null
    }
  },
  mounted () {
    this.refreshData()
  },
  methods: {
    refreshData () {
      let formatFunc
      switch (this.graph.unit_format) {
        case 'byte':
          formatFunc = formatByte
          break
        case 'bytespersec':
          formatFunc = value => formatByte(value) + '/s'
          break
        case 'duration':
          formatFunc = formatDuration
          break
        case 'percent':
          formatFunc = formatPercent
          break
        case 'bignumber':
          formatFunc = formatBignumber
          break
        case 'default':
          formatFunc = value => value
          break
        default:
          console.error(
            'unable to format tick, units are ' + this.graph.unit_format
          )
          formatFunc = function (value) {
            return value.toString()
          }
      }

      this.chartOptions.scales.yAxes[0].ticks.callback = function (
        value,
        index,
        values
      ) {
        return formatFunc(value)
      }

      this.chartOptions.tooltips.callbacks = {
        label: function (tooltipItem, data) {
          let label = data.datasets[tooltipItem.datasetIndex].label || ''
          if (label) {
            label += ': '
          }
          return label + formatFunc(tooltipItem.yLabel)
        }
      }

      if (!this.daterange || this.daterange.length < 2) {
        return
      }

      const loading = Loading.service({
        target: this.$el
      })

      const results = []
      const queryResults = token => {
        this.axios
          .post(
            `${this.current_organization_name}/results/query`,
            JSON.stringify({
              probe_configuration: this.probeconfiguration.name,
              start_time: moment(this.daterange[0]).toISOString(),
              end_time: moment(this.daterange[1]).toISOString(),
              page_size: 100,
              page_token: token
            })
          )
          .then(response => {
            results.push(...response.data.results)
            if (response.data.next_page_token) {
              queryResults(response.data.next_page_token)
            } else {
              this.chartOptions.scales.xAxes[0].time = {
                min: this.daterange[0],
                max: this.daterange[1]
              }

              const grouped = groupBy(results, r => JSON.stringify(r.tags))
              this.tagsCollection = Object.keys(grouped)
              this.dataCollection = {}
              this.optionsCollection = {}
              for (const [tags, group] of Object.entries(grouped)) {
                const ds = dataset(group, this.g.metrics)
                const titleText = Object.entries(JSON.parse(tags)).map(
                  ([k, v]) => `${k} : ${JSON.stringify(v)}`
                )
                if (isDataNull(ds)) {
                  continue
                }
                this.dataCollection[tags] = ds
                this.optionsCollection[tags] = {
                  ...this.chartOptions,
                  title: {
                    display: tags !== '{}',
                    text: titleText
                  }
                }
              }

              this.$nextTick(_ => {
                loading.close()
                if (this.$refs.charts) {
                  this.$refs.charts.forEach(chart => chart.render())
                } else {
                  this.$refs.chart.render()
                }
              })
            }
          })
          .catch(e => {
            console.error(e)
            this.error = true
            this.$nextTick(_ => {
              loading.close()
              if (this.$refs.charts) {
                this.$refs.charts.forEach(chart => chart.render())
              } else {
                this.$refs.chart.render()
              }
            })
          })
      }
      queryResults()
    }
  },
  watch: {
    daterange () {
      this.refreshData()
    }
  }
}
</script>
<style scoped>
.chart {
  position: relative;
}
.error-overlay {
  position: absolute;
  z-index: 1;
  color: red;
  background-color: #ffb9b9c5;
  width: calc(100% - 40px);
  height: calc(100% - 20px);

  display: flex;
  justify-content: center;
  align-content: center;
}
.error-overlay-message {
  margin: auto;
  transform: translateY(-15px);
}
</style>
