<!--
Copyright 2017 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
<template>
  <div class="with-sidebar">
    <div class="middle">
      <div class="entete">
        <div class="entete-switch">
          <organizations-dropdown></organizations-dropdown>
        </div>
        <el-date-picker
          v-model="pickerRange"
          type="datetimerange"
          :picker-options="pickerOptions"
          start-placeholder="From"
          end-placeholder="To"
          align="right"
          class="pull-right"
        ></el-date-picker>
        <h2 class="entete-title m-t-5 m-r-20">
          <span v-if="graphCollection">{{ graphCollection.label }}</span>
          <span v-if="target">{{ target.address }}</span>
        </h2>
      </div>
      <sidebar>
        <dashboard-side-bar></dashboard-side-bar>
      </sidebar>
      <div class="middle-i" v-if="checks.length > 0">
        <div class="content">
          <div
            class="row"
            v-for="check in dashboardChecks.filter(c => c.children.probe.graphs && c.children.probe.graphs.length > 0)"
            :key="check.name"
            :id="`dashboard-graph-${check.name.split('/').pop()}`"
            ref="graphs"
          >
            <div class="col-sm-12">
              <div class="bl">
                <header class="bl-header">
                  <h3 class="bl-title">{{ check.children.probe.display_name }}</h3>
                </header>
                <!-- .bl-header -->
                <div v-for="(graph, i) in check.children.probe.graphs" :key="i" class="m-20">
                  <h4>{{ graph.title }}</h4>
                  <div
                    v-for="probe_configuration in probeConfigurations.filter(pc => pc.check === check.name)"
                    :key="probe_configuration.name"
                  >
                    <dashboard-graph
                      :probeconfiguration="probe_configuration"
                      :check="check"
                      :graph="graph"
                      :daterange="dateRange"
                      :line-time.sync="lineTime"
                      @hook:mounted="graphMounted"
                    ></dashboard-graph>
                  </div>
                </div>
                <footer class="bl-footer"></footer>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import OrganizationsDropdown from 'src/components/UIComponents/OrganizationsDropdown.vue'
import DashboardSideBar from './DashboardSideBar.vue'
import DashboardGraph from './DashboardGraph.vue'
import moment from 'moment'

const timeRanges = [
  moment.duration(-5, 'm'),
  moment.duration(-15, 'm'),
  moment.duration(-30, 'm'),
  moment.duration(-1, 'h'),
  moment.duration(-2, 'h'),
  moment.duration(-6, 'h'),
  moment.duration(-12, 'h'),
  moment.duration(-1, 'd'),
  moment.duration(-2, 'd')
]

const TimeRangeMode = {
  RELATIVE: 0,
  ABSOLUTE: 1
}

export default {
  components: {
    OrganizationsDropdown,
    DashboardSideBar,
    DashboardGraph
  },
  computed: {
    ...mapGetters({
      current_organization_name: 'current_organization_name',
      graphCollection: 'graphCollection',
      target: 'target',
      checks: 'checks',
      probeConfigurations: 'probeConfigurations'
    }),
    from: function () { return this.$route.query.from },
    to: function () { return this.$route.query.to },
    dateRange () {
      return [
        this.startDate,
        this.endDate
      ]
    },
    pickerRange: {
      get () {
        return [this.startDate.toDate(), this.endDate.toDate()]
      },
      set (range) {
        this.mode = (range[2] !== undefined) ? range[2] : TimeRangeMode.ABSOLUTE
        this.startDate = moment(range[0])
        this.endDate = range[1] ? moment(range[1]) : undefined
        this.updateRoute()
      }
    },
    dashboardChecks () {
      return this.checks.filter(
        c => this.probeConfigurations.some(
          pc => pc.check === c.name
        )
      )
    },
    pickerOptions () {
      return {
        shortcuts: timeRanges.map(r => {
          return {
            text: r.humanize(true),
            onClick (picker) {
              const end = moment()
              const start = end.clone().add(r)
              this.mode = TimeRangeMode.RELATIVE
              picker.$emit('pick', [start.toDate(), end.toDate(), TimeRangeMode.RELATIVE])
            }
          }
        })
      }
    }
  },
  data () {
    return {
      moment,
      startDate: null,
      endDate: null,
      mode: null,
      lineTime: null
    }
  },
  created () {
    // Set start date and end date from query params, if present.
    // format: ?from=2018-08-28T13%3A52%3A00Z&to=2018-08-29T13%3A52%3A00Z
    // Possible values:
    // `to`: an ISO8601 date. if missing or invalid, use current date as default
    // `from`: an ISO8601 date OR an ISO8601 duration. if missing or invalid, use default duration (15 minutes)
    if (this.to) {
      const m = moment(this.to, moment.ISO_8601)
      if (m && m.isValid()) {
        this.endDate = m
        this.mode = TimeRangeMode.ABSOLUTE
      }
    }
    if (!this.endDate) {
      this.endDate = moment()
      this.mode = TimeRangeMode.RELATIVE
    }

    if (this.from) {
      const m = moment(this.from, moment.ISO_8601)
      if (m && m.isValid()) {
        this.startDate = m
      } else {
        const d = moment.duration(this.from, moment.ISO_8601)
        if (d && d.isValid() && d.asMilliseconds() > 0) {
          this.startDate = this.endDate.clone().subtract(d)
        }
      }
    }
    if (!this.startDate) {
      this.startDate = this.endDate.clone().subtract(moment.duration({minutes: 15}))
    }
  },
  methods: {
    updateRoute () {
      if (this.mode === TimeRangeMode.RELATIVE) {
        this.$router.push({
          path: this.$route.path,
          query: {
            ...this.$route.query,
            from: moment.duration(this.endDate.diff(this.startDate)).toISOString(),
            to: undefined
          }
        })
      } else if (this.mode === TimeRangeMode.ABSOLUTE) {
        this.$router.push({
          path: this.$route.path,
          query: {
            ...this.$route.query,
            from: this.startDate.toISOString(),
            to: this.endDate.toISOString()
          }
        })
      }
    },
    graphMounted () {
      if (this.$route.hash) {
        const graphID = this.$route.hash.substr(1)
        const graph = document.getElementById(graphID)
        if (graph) {
          window.scroll({
            top: graph.offsetTop - 120
          })
        }
      }
    }
  }
}

</script>
<style>
.el-loading-mask {
  z-index: 55;
}
</style>
