<!--
Copyright 2017 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
<template>
  <div>
    <div
      v-if="graphCollections.length > 0"
      class="sb-group">
      <h3 class="sb-title">
        Dashboards
      </h3>
      <ul
      v-for="collection in graphCollections"
      class="sb-list">
        <li>
          <a href="#" class="sb-item current">
            <span>
              {{ collection.label }}
            </span>
          </a>
        </li>
      </ul>
      <a href="#" class="btn btn-sm btn-theme">
        <i class="ico-plus"></i>
        Dashboard
      </a>
    </div><!-- .sb-group -->
    <div
      v-if="targets.length > 0"
      class="sb-group">
      <h3 class="sb-title">
        Targets
      </h3>
      <input
        v-model="targetsFilter"
        placeholder="Search for an Target"
        class="form-control" type="text">
      <ul
        v-for="targetItem in filteredTargets"
        class="sb-list">
        <li>
          <a
            @click="setTarget(targetItem)"
            :class="{'current': (targetItem.name == target.name)}"
            class="sb-item">
            <span>
              {{ targetItem.address }}
            </span>
          </a>
        </li>
      </ul>
    </div><!-- .sb-group -->
  </div>
</template>
<script>

import { mapGetters } from 'vuex'

export default {
  components: {},
  computed: {
    ...mapGetters({
      current_organization_name: 'current_organization_name',
      graphCollections: 'graphCollections',
      targets: 'targets',
      target: 'target',
      checks: 'checks'
    }),
    filteredTargets () {
      return this.targets.filter((target) => {
        if (this.targetsFilter) {
          if (target.address.indexOf(this.targetsFilter) >= 0) {
            return target
          }
        } else {
          return target
        }
      })
    }
  },
  data () {
    return {
      targetsFilter: '',
      currentTarget: {}
    }
  },
  beforeCreate () {
    this.storeSubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'SET_CURRENT_ORGANIZATION_NAME') {
        if (state.organization.current_organization_name) {
          this.listGraphCollections()
          this.listTargets()
        }
        if (this.$route.params.target) {
          this.setTarget({name: this.$route.params.target})
        }
      }
      if (mutation.type === 'RECEIVE_TARGET') {
        if (state.target.target) {
          this.setTarget({name: this.$route.params.target})
        }
        this.$store.dispatch('listChecks', {
          organization: state.organization.current_organization_name,
          filters: {
            target: this.target.name,
            children_mask: 'probe'
          }
        }).then(() => {
          const checks = this.checks.map(c => c.name)
          this.QueryProbeConfiguration(checks)
        })
      }
      if (mutation.type === 'RECEIVE_TARGETS') {
        if (!this.$route.params.target && state.target.targets && state.target.targets.length > 0) {
          this.setTarget(state.target.targets[0])
        }
      }
    })
  },
  beforeDestroy () {
    this.storeSubscribe()
  },
  created () {
    if (this.current_organization_name) {
      this.listGraphCollections()
    }
    if (this.$route.params.target) {
      this.$store.dispatch('getTarget', {
        target: this.$route.params.target,
        children_mask: 'probe'
      })
    }
  },
  mounted () {
    if (this.current_organization_name) {
      this.listTargets()
    }
  },
  methods: {
    listGraphCollections () {
      this.$store.dispatch('listGraphCollections', {
        organization: this.current_organization_name
      })
    },
    listTargets () {
      this.$store.dispatch('listTargets', {
        organization: this.current_organization_name
      })
    },
    QueryProbeConfiguration (checks) {
      this.$store.dispatch('QueryProbeConfiguration', {
        organization: this.current_organization_name,
        filters: {
          checks: checks
        }
      })
    },
    setTarget (target) {
      this.$router.push({
        path: `/dashboard/${target.name}`,
        query: this.$route.query,
        hash: this.$route.hash
      })
    }
  },
  watch: {
    '$route.params.target': function (id) {
      if (this.$route.params.target) {
        this.$store.dispatch('getTarget', {
          target: this.$route.params.target,
          children_mask: 'probe'
        })
      }
    }
  }
}
</script>
