<!-- 
Copyright 2017 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
<template>
  <header class="header">
    <div class="header-l">
      <el-tooltip effect="light" placement="right" :open-delay="2000" popper-class="version-popper">
        <div slot="content">Panto server {{ info.version }}<br />Panto web {{ $version }}</div>
        <a href="#" class="logo">
          <span>
            <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 270 150" enable-background="new 0 0 270 150" xml:space="preserve">
            <path class="logo1" d="M12,144c0,3.314-2.686,6-6,6l0,0c-3.314,0-6-2.686-6-6V44c0-3.314,2.686-6,6-6l0,0c3.314,0,6,2.686,6,6V144z
              "/>
            <path class="logo1" d="M44.25,144c0,3.314-2.686,6-6,6l0,0c-3.314,0-6-2.686-6-6V88c0-3.314,2.686-6,6-6l0,0c3.314,0,6,2.686,6,6
              V144z"/>
            <path class="logo1" d="M76.5,144c0,3.314-2.686,6-6,6l0,0c-3.314,0-6-2.686-6-6V63c0-3.314,2.686-6,6-6l0,0c3.314,0,6,2.686,6,6
              V144z"/>
            <path class="logo2" d="M141,144c0,3.314-2.686,6-6,6l0,0c-3.314,0-6-2.686-6-6V6c0-3.314,2.686-6,6-6l0,0c3.314,0,6,2.686,6,6V144z
              "/>
            <path class="logo1" d="M108.75,144c0,3.314-2.686,6-6,6l0,0c-3.314,0-6-2.686-6-6v-33c0-3.314,2.686-6,6-6l0,0c3.314,0,6,2.686,6,6
              V144z"/>
            <path class="logo1" d="M270,144c0,3.314-2.686,6-6,6l0,0c-3.314,0-6-2.686-6-6V44c0-3.314,2.686-6,6-6l0,0c3.314,0,6,2.686,6,6V144
              z"/>
            <path class="logo1" d="M173.25,144c0,3.314-2.686,6-6,6l0,0c-3.314,0-6-2.686-6-6V88c0-3.314,2.686-6,6-6l0,0c3.314,0,6,2.686,6,6
              V144z"/>
            <path class="logo1" d="M205.5,144c0,3.314-2.686,6-6,6l0,0c-3.314,0-6-2.686-6-6V63c0-3.314,2.686-6,6-6l0,0c3.314,0,6,2.686,6,6
              V144z"/>
            <path class="logo1" d="M237.75,144c0,3.314-2.686,6-6,6l0,0c-3.314,0-6-2.686-6-6v-33c0-3.314,2.686-6,6-6l0,0c3.314,0,6,2.686,6,6
              V144z"/>
            </svg>
          </span>
          <strong>Panto</strong>
        </a>
      </el-tooltip>
    </div><!-- .header-l -->
    <div :class="{ 'nav': true, 'nav-open': open }">
      <a href="#" class="nav-inter" @click="open = true"><i class="ico-menu"></i></a>
      <div class="nav-i">
        <top-bar :topbar-links="$topbar.topBarLinks" @close="open = false"></top-bar>
      </div><!-- .nav-i -->
    </div><!-- .nav -->

  </header><!-- .header -->
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      info: 'info'
    })
  },
  data () {
    return {
      activeNotifications: false,
      open: false
    }
  },
  methods: {
    capitalizeFirstLetter (string) {
      return string.charAt(0).toUpperCase() + string.slice(1)
    },
    toggleNotificationDropDown () {
      this.activeNotifications = !this.activeNotifications
    },
    closeDropDown () {
      this.activeNotifications = false
    },
    toggleSidebar () {
      this.$sidebar.displaySidebar(!this.$sidebar.showSidebar)
    },
    hideSidebar () {
      this.$sidebar.displaySidebar(false)
    },
    minimizeSidebar () {
      this.$sidebar.toggleMinimize()
    }
  }
}

</script>
<style>
.version-popper {
  font-size: 10px;
  padding: 0.8em;
  background-color: #0000007f
}
</style>
