<!-- 
Copyright 2020 Pantomath SAS

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon-16.png" sizes="16x16">
  <link rel="icon" href="<%= BASE_URL %>favicon-32.png" sizes="32x32">
  <link rel="icon" href="<%= BASE_URL %>favicon-128.png" sizes="128x128">
  <link rel="apple-touch-icon" href="<%= BASE_URL %>favicon-152.png" sizes="152x152">
  <link rel="apple-touch-icon" href="<%= BASE_URL %>favicon-180.png" sizes="180x180">
  <link rel="icon" href="<%= BASE_URL %>favicon-192.png" sizes="192x192">
  <link rel="shortcut icon" href="<%= BASE_URL %>favicon-196.png" sizes="196x196">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="has-navbar-fixed-top">
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>